[2012-05-17 10:30] miguel-negrao opened #1 "Get description of available keys"
Could be either a graphical display or just a listing like

[code]

[2013-07-08 22:57] danmackinlay opened #3 "Unstated dependency on the FP quark"
Regardless of whether the Functional Programming Quark is installed or not, the Modality Toolkit invoke HideVar, a class provided by the FP quark, in the class MKtlElement

[2013-11-08 11:19] #3 closed, assigned to nobody

[2013-11-08 11:20] #1 closed, assigned to nobody

[2013-11-08 11:22] LFSaw opened #4 "Device description guide"

[2013-11-08 11:23] LFSaw opened #5 "device description template generator"
ask a HID device and get something where you have to fill in the names.

[2013-11-08 11:23] LFSaw opened #6 "fix HIDMKtl"

[2013-11-08 11:24] LFSaw opened #7 "MIDIOut functionality"

[2013-11-08 11:25] LFSaw opened #8 "switch MIDIResp to MIDIFunc"

[2013-11-08 11:25] LFSaw opened #9 "Write HIDFunc"

[2013-11-08 11:26] LFSaw opened #10 "decide on keeping and maintaining MDispatch"

[2013-11-08 11:28] LFSaw opened #11 "where and how will be control-processing templates stored?"

[2013-11-08 11:31] LFSaw opened #12 "write documentation for MIDIMktlDevice"
@miguel-negrao, I assigned this to you since you know best about the methods... I offer my help, though.

[2013-11-08 11:34] LFSaw opened #13 "Hierarchical MKtlSpec/Control elements"
less urgent...

[2013-11-08 11:37] LFSaw opened #14 "Fix Documentation for MKtl"

[2013-11-08 11:38] LFSaw opened #15 "add example for a popular MIDI device to MIDIMktl Documentation"

[2013-11-08 11:51] sensestage opened #16 "Write documentation for HID"

[2013-11-08 11:51] jcarey0000 opened #17 "Jeffs "simple" MPD18 use case (JNCv2)"
The MPD18 has 16 Buttons and a slider.

+ [Sound Buttons] Buttons 1-3 are mapped to adsr enveloped sound sources.
  + By pushing them down sound turns on; releasing: sound off.
+ the Slider sets amplitude (or pitch) for the (sound)source of the currently depressed button.
+ [Memory Slots] Buttons 5-16 represent 'memory' positions (initially not mapped)
  + if sound is assigned (see below), sound i

[2013-11-08 11:59] sensestage opened #18 "Does 10.8 have the same bug in IOKit?"

[2013-11-08 12:04] LFSaw opened #19 "What do the keys in the MKtlSpec files mean? Write it to the documentation"
Where should it be documented?

[2013-11-08 12:05] LFSaw opened #20 "Move _HowToMakeAKtlDescription_ to be a helpfile tutorial/reference"

[2013-11-08 12:05] miguel-negrao opened #21 "Deal with MIDI devices that appear as two separate devices"
MIDIMKtl('sprc0', 8454149, 8454144);  // SuperCollider
   MIDIMKtl('cncn2000', 1310720, 1310720);  // iCON iControls V2.00
   MIDIMKtl('mdth0', 917504, 917504);  // Midi Through
   MIDIMKtl('cncn2001', 1310721, nil);  // iCON iControls V2.00
   MIDIMKtl('sprc1', 8454150, 8454145);  // SuperCollider
   MIDIMKtl('syst0', 0, nil);  // System
   MIDIMKtl('syst1', 1, nil);  // System

icon iControls ap

[2013-11-08 12:11] miguel-negrao opened #22 "MIDI devices with physical cable connection through a midi physical port - Does it work ?"
One should be able to pair a midi box for physical midi connections with a specific spec manually

[2013-11-08 12:22] LFSaw opened #23 "convert MKtldesc files to JSON"
[code]

[2013-11-08 12:24] LFSaw opened #24 "Fix EOWave ribbon description file"

[2013-11-08 12:46] miguel-negrao opened #25 "clean up help files"
These helpfiles are out of date:
- FuncChain.schelp
- MDispatch.schelp
- MKtl.schelp
- MKtlElement.schelp
- PKtl.schelp
- String.ext.schelp

Some helpfiles are for classes that don't exist
- `MBasicElement.schelp -> MAbstractElement.schelp`

[2013-11-08 13:47] miguel-negrao opened #26 "shortcut method for element method"
elementAt(\kn,0,1)

just make into a string

[2013-11-08 14:00] #7 closed, assigned to miguel-negrao

[2013-11-08 14:20] LFSaw opened #27 "Is there a difference between NoteOn and NoteOff in the MIDI implementation on SuperCollider? Do we want to account for it?"
If so, I'd vote for accounting for it, since it then forwards the same structure as in the lower level implementation

[2013-11-08 14:29] LFSaw opened #28 "fix descriptions for midiType \note to be \noteOn, \noteOff \noteOnOff"

[2013-11-08 15:35] #26 closed, assigned to miguel-negrao

[2013-11-08 16:12] miguel-negrao opened #29 "remove dependency on wslib"

[2013-11-08 16:46] LFSaw opened #30 "Add polytouch, program to MIDIMktl"

[2013-11-08 19:18] miguel-negrao opened #31 "control with different midi control/note numbers for in and out, need to handle those cases"
if the same fader has different cc-numbers for in and out but physically the same thing, we should deal with it in the spec.

[2013-11-09 12:42] #5 closed, assigned to nobody

[2013-11-09 13:03] LFSaw opened #32 "Benchmark lookup variants in MIDIMktl, decide on final lookup method."
symbol lookups are as fast as lookups by combined numbers,
and faster than using lots of MIDIFuncs.
so we stay with a flat elementsDict for very fast lookups.

[2013-11-09 13:42] #6 closed, assigned to sensestage

[2013-11-09 15:25] LFSaw opened #33 "Update MIDIExplorer to conform to MKtl description"
As found in `SketchesNotesEtc/specFileDefinition.md`

[2013-11-09 16:01] LFSaw opened #34 "Update spec files to conform to MKtl description"

[2013-11-09 16:01] #34 closed, assigned to LFSaw

[2013-11-09 16:02] LFSaw opened #35 "Convert description whitepaper to schelp format"

[2013-11-09 16:19] #35 closed, assigned to LFSaw

[2013-11-09 16:51] LFSaw opened #36 "create and maintain user-manageable description folder"
This should be a folder in the user's home in which she can put custom desc.scd files.
Files in this folder possibly overwrite files in the generic folder.
If an overwrite happens, the system should warn about it.
Should be accessible by a method similar to `Meta_MKtl:deviceDescriptionFolder`

[2013-11-09 16:57] LFSaw opened #37 "Add HID section to How_to_create_a_description_file"

[2013-11-10 12:25] sensestage opened #38 "HID: how to deal with devices that are not class compliant?"
e.g. Logitech Extreme 3d (but works on osx) and Logitech G13

[2013-11-10 12:26] sensestage opened #39 "HID: deal properly with logical minimum below 0"

[2013-11-10 13:57] miguel-negrao opened #40 "Can we already use MKtl for everything ?"
Once hid gets merged in, can we already use MKtl everywhere ?

[2013-11-10 13:59] LFSaw opened #41 "Look at the webpage and suggest edits."
http://modality.bek.no/

[2013-11-10 14:04] #28 closed, assigned to nobody

[2013-11-10 14:04] #4 closed, assigned to LFSaw

[2013-11-10 14:04] #8 closed, assigned to adcxyz

[2013-11-10 14:05] #13 closed, assigned to miguel-negrao

[2013-11-11 09:18] LFSaw opened #42 "create a milestone for Bergen2013 release and assign issues to it"
We agreed that we want to wait a little until merging the Bergen branch into master.
E.g. to wait until the HID implementation is tested a bit and can be merged into the official SC repository.

[2013-11-11 09:22] #20 closed, assigned to LFSaw

[2013-11-11 09:23] #27 closed, assigned to miguel-negrao

[2013-11-11 09:23] #32 closed, assigned to adcxyz

[2013-11-11 09:23] #33 closed, assigned to nobody

[2013-11-11 09:23] #42 closed, assigned to nobody

[2013-11-12 08:28] adcxyz opened #43 "Should future JSON desc files be notated flat or hierarchical?"
If flat, we need a way to go from JSON-flat back to sc-hierarchical;
If hierarchical - which seems better - we need a way to notate the hierarchy
with just arrays and dicts.

[2013-11-12 08:31] adcxyz opened #44 "noteOn, noteOff, polyTouch should each have a global MKtlElement for all notes, and a consistent way of handling them."

[2013-11-26 09:15] LFSaw opened #45 "write desc-file to control RME totalmix"
Any of you would like to talk to the RME hardware?
here's the latest OSC table for controlling RME´s TotalMix FX.

http://www.rme-audio.de/forum/viewtopic.php?id=17232

[2013-11-26 09:23] LFSaw opened #46 "Jeffs "simple" MPD18 use case (JNCv2)"
The MPD18 has 16 Buttons and a slider.
- [Sound Buttons] Buttons 1-3 are mapped to adsr enveloped sound sources.
  - By pushing them down sound turns on; releasing: sound off.
- the Slider sets amplitude (or pitch) for the (sound)source of the currently depressed button.
- [Memory Slots] Buttons 5-16 represent 'memory' positions (initially not mapped)
  - if sound is assigned (see below), sound is

[2013-11-26 09:27] LFSaw opened #47 "Write use cases"
Writing use cases in the issue tracker marked with the label "use case" (see on the right)

Use cases should include very simple as well as more complex real-world scenarios.
- discover a device and use it as a mixer
- soft paging of controllers
- remapping of functionality

[2013-11-26 09:28] #46 closed, assigned to nobody

[2013-11-26 09:46] miguel-negrao opened #48 "soft paging"
make a controller paged via software

FRP version:
https://github.com/miguel-negrao/FPLib/blob/master/Examples/FRP/soft%20paging.scd

[2013-11-26 09:51] miguel-negrao opened #49 "remapping of functionality"
move an action from one control to another

[2013-12-09 19:38] #39 closed, assigned to sensestage

[2013-12-09 19:41] sensestage opened #50 "test hid elements with odd bit sizes"

[2013-12-09 21:44] #50 closed, assigned to sensestage

[2013-12-09 21:45] sensestage opened #51 "hidapi - setting output elements - bit sizes"
it seems there is still an issue setting output elements with odd bitsizes. This needs a reverse implementation of the input byte parsing.

[2013-12-10 15:06] miguel-negrao opened #52 "Shouldn't deviceDescription be dictionary ?"
Why is it a key value array ?

[2013-12-19 22:34] #51 closed, assigned to sensestage

[2013-12-19 22:36] sensestage opened #53 "make a Phid - pattern hid"
There was a Phid, we should have one again!

[2014-03-31 10:11] LFSaw opened #54 "Add info on how to create new interface description to the Modality overview help page"

[2014-03-31 11:22] LFSaw opened #55 "Adapt the "Howto make a new controller " to reflect nested elements"

[2014-03-31 12:38] miguel-negrao opened #56 "convert desc files to new hierarchical format"

[2014-03-31 13:32] #54 closed, assigned to nobody

[2014-03-31 13:39] LFSaw opened #57 "collect most wanted devices"

[2014-03-31 13:44] LFSaw opened #58 "Add very basic mapping from an MKtl to a Synth"

[2014-03-31 13:46] LFSaw opened #59 "update and include cookbook to the documentation"

[2014-03-31 13:47] LFSaw opened #60 "Remove MDispatch from Documentation or Update it."

[2014-03-31 13:51] LFSaw opened #61 "Refactor introductional Modality helpfiles"

[2014-03-31 13:55] dhmlGIT opened #62 "add basic example to Modality"
https://gist.github.com/dhmlGIT/67d45aee92186daa1ed3

[2014-03-31 15:14] tapage opened #63 "index numbering differes between elements & elementAt"
k = MIDIMKtl('nnkn20', 88546714, -986849754);

//counts from 0
k.elements[\kn][0];
//counts from 1
k.elementAt(\kn,1);

/*
this isn't clear in the documentation
why is there a difference?
*/

[2014-04-01 10:10] LFSaw opened #64 "rename MKtl.verbose to MKtl.trace"
this is the syntax used in OSCfunc and MIDIfunc.
IMHO, we should keep this straight and conform to the already used naming scheme.

Alternatively, there should be both methods.

[2014-04-01 16:58] miguel-negrao opened #65 "what needs to be done with MIDIMKtl"
add here

[2014-04-02 08:32] LFSaw opened #66 "default deviceDescription files in quarks, custom ones in userAppSupportDir"

[2014-04-02 10:01] LFSaw opened #67 "settle on fixed identifiers for "type" in description files"
\knob
\button
\key
\slider
\chantouch
\polytouch

[2014-04-02 17:55] #65 closed, assigned to nobody

[2014-04-02 17:55] #63 closed, assigned to nobody

[2014-04-02 18:19] miguel-negrao opened #68 "Add program to MIDIMktl"

[2014-04-02 18:19] #30 closed, assigned to adcxyz

[2014-04-02 18:20] #14 closed, assigned to LFSaw

[2014-04-02 18:20] #15 closed, assigned to nobody

[2014-04-02 18:20] #19 closed, assigned to nobody

[2014-04-02 18:20] #61 closed, assigned to nobody

[2014-04-02 18:53] #68 closed, assigned to nobody

[2014-04-03 06:52] jcarey0000 opened #69 "Workshop"
Unless a better plan was devised in my absence, I've created the following structure for the workshop today:

motivation/ intro - Jeff
Getting Modality - ?
MIDIMKtl - Till
HIDKtl - Miguel
FakeGUI - Wouter
ActionDict - Wouter
inFlux - Alberto

Each section could be a demonstration of the topic followed by a (longer) open lab session where the participant practice the topic.

[2014-04-03 09:55] jcarey0000 opened #70 "Automagic replacement of hardware w/ gui"
read this for intention, not correctness:

MIDIMKtl.find;

if ( MIDIMKtl.sourceDeviceDict.includesKey('nnkn0'), {
    m = MIDIMKtl('nnkn0');
    },{
        m = MIDIMKtl.make('fakeNano','nanoKONTROL');
        m.gui;
});

m.elements[\sl][0][0].action_({ |elem| elem.value.postln; });

Can it be possible, that the execution of

m = MIDIMKtl('nnkn0');

takes care of determining whether the device is

[2014-04-03 15:20] tapage opened #71 "Logitech Extreme 3D Pro gives strange output"
While trying to write description files for HID devices I'm running into a weird issue with this joystick. I managed to get data out of the 'Y' axis but I'm getting values between 0. and 0.25... the hatswitch on top of the joystick is also giving values...

//this is the line in the description file :
'Yaxis': ('hidUsage': 48, 'hidUsagePage': 1, 'type': 'joyAxis', 'ioType': 'in',  spec: \cent1, mo

[2014-04-03 15:36] #9 closed, assigned to sensestage

[2014-04-03 23:46] LFSaw opened #72 "Adding custom filter elements to an existing (and instantiated) controller"
[code]
as suggested by @dhmlGIT

[2014-04-04 00:51] #69 closed, assigned to nobody

[2014-04-04 00:53] LFSaw opened #73 "flat element addressing starts with 1 whereas addressing via elements[][] starts with 0"
After I now had another discussion with a user on it (who did not understood it and found it confusing),  I consider this a bug.

[2014-04-04 01:39] #62 closed, assigned to nobody

[2014-04-04 01:43] LFSaw opened #74 "Ableton Push Pad IO not working"
[code]
works. ?!

[2014-04-04 01:45] LFSaw opened #75 "combine grouped (hierarchical) elements into one action for convinience."
Be able to play "für Elise" on a keyboard.

[2014-04-04 01:57] LFSaw opened #76 "if possible, get rid of the index.desc.scd file"

[2014-04-04 09:20] jcarey0000 opened #77 "noteOn and noteOff as same GUI representation?"
It would be visually handy to have the autoGUI associate noteOn/noteOff of the same midi note with the same slider.  The velocity could be displayed as the label when set by the noteOn?

[2014-04-04 09:22] jcarey0000 opened #78 "GUI, numberboxes too narrow"
The the automatic number boxes are kinda too narrow for floating point numbers.  Perhaps wide enough to see down to the hundredth?

[2014-04-04 09:23] jcarey0000 opened #79 "GUI, panel too narrow for some layouts?"
Possible to make the automatic gui wide enough to accomodate the rows of elements to avoid wrapping?

[2014-04-04 09:40] miguel-negrao opened #80 "convert all description files to new format without an index file"
[code]

[2014-04-04 14:52] #76 closed, assigned to nobody

[2014-04-04 15:03] #73 closed, assigned to nobody

[2014-04-04 16:01] LFSaw opened #81 "nested MKtlElements"
@woutersnoei  was just thinking about this: what if each MKtlElement could hold a list or dict of sub-MKtlElements, and the MKtl elements would be a structure of nested MKtlElements instead of Arrays. Then if an individual element is set (via midi or hid or gui) it would not only fire it's own action, but also that of it's parent/enclosing MKtlElement, which would return the value and index in an

[2014-04-04 16:30] jcarey0000 opened #82 "perfrom @ Modality concert"
please?

[2014-04-04 17:05] #70 closed, assigned to nobody

[2014-04-06 14:47] #82 closed, assigned to sensestage

[2014-04-06 15:20] #80 closed, assigned to nobody

[2014-04-07 06:55] adcxyz opened #83 "celebrate HID finalization"
get a bottle of champagne (or other beverage/substance of choice) for Marije for resuscitating HID, and Tim for the final push on it - at the next modal opportunity :-)

[2014-04-07 13:58] #40 closed, assigned to nobody

[2014-04-08 01:16] LFSaw opened #84 "Please reflect changes to the user interface in documentation"
e.g. 2149771bd7a2a673577a2b7128df1d8a97bfb083 mpk don't post info on loading, use 'infoMessage' instead

[2014-04-08 01:31] #57 closed, assigned to nobody

[2014-04-08 01:32] #56 closed, assigned to nobody

[2014-04-08 01:33] #41 closed, assigned to nobody

[2014-04-10 17:07] miguel-negrao opened #85 "MKtlGui gives error on nested arrays and dictionaries"
this description file causes an error in MKtlGui

[code]

[code]

[2014-04-11 21:52] sensestage opened #86 "fix HIDdef"
HIDdef is not working yet.

[2014-04-11 21:53] sensestage opened #87 "fix install path for HID usage tables"
HID usage tables should be installed alongside the SCClassLibrary HID class files.

But how to do this with CMake?

And how to access the files then from the class file?

[2014-04-11 22:45] #67 closed, assigned to nobody

[2014-04-19 19:01] #87 closed, assigned to nobody

[2014-04-19 19:01] #86 closed, assigned to nobody

[2014-04-19 19:02] #16 closed, assigned to sensestage

[2014-06-04 08:42] sensestage opened #89 "GUI should reflect behaviour of buttons in its interaction"
The only thing I noticed is that the GUI replacement should take some
note of the type of buttons (which we do note down in the device
description), right now the GUI interaction is that buttons are
automatically toggles, whereas the user interaction with the real device
is push buttons. So, I think the GUI should reflect that, and not toggle
the button between on and off, but instead give a momen

[2014-06-04 08:53] LFSaw opened #90 "MKtlElement should reflect toggle/snapback state of elements"
@sensestage noticed that the GUI replacement should take some note of the type of buttons.
Right now the GUI interaction is that buttons are automatically toggles, whereas the user interaction with the real device could as well be push buttons.
The GUI should reflect that, and not toggle the button between on and off, but instead give a momentary on-function, or even distinguish between mouse pres

[2014-06-04 16:45] #89 closed, assigned to nobody

[2014-08-26 18:32] jcarey0000 opened #91 "extHIDMKtl.sc doesn't compile"
This error message:

ERROR: Variable 'cookieslots' not defined.
  in file '/Users/jeffcarey/Library/Application Support/SuperCollider/Extensions/osx/extHIDMKtl.sc'
  line 40 char 28:

[code]

---

ERROR: Variable 'cookieslots' not defined.
  in file '/Users/jeffcarey/Library/Application Support/SuperCollider/Extensions/osx/extHIDMKtl.sc'
  line 40 char 68:

[code]

---

ERROR: Variable 'elemDict'

[2014-09-09 08:46] #85 closed, assigned to nobody

[2014-09-11 12:27] sensestage opened #92 "virtual device keeps making new guis."
Each call to:
MKtl( 'rnnd0' );
with no devices attached, keeps opening up a new gui....

Perhaps keeps a reference to the gui if it is still open?

[2014-09-11 23:07] #92 closed, assigned to nobody

[2014-09-15 21:26] miguel-negrao opened #93 "Modality doesn't work on windows"
Issues came in the workshop... Till can describe better.

[2014-09-24 19:09] #91 closed, assigned to nobody

[2014-09-24 19:10] #71 closed, assigned to nobody

[2014-09-29 11:36] LFSaw opened #94 "GUIs as fallback systems"

[2014-09-29 11:37] LFSaw opened #95 "Alternative layouts/structuring of k.elements"
Have one generic layout (as it is in k.elements); have the possibilities to "load" alternative layout structures.

[2014-09-29 11:40] LFSaw opened #96 "grouping of elements"
e.g. for keyboard layouts, it is needed to have _one_ action that has e.g. the element id (0..87) as an argument.

[2014-09-29 11:42] LFSaw opened #97 "graphical representations of EQs and other standard filters"
not really clesely related to modality (yet) but urgently needed in SuperCollider.

[2014-09-29 11:42] LFSaw opened #98 "Example database of Modality use-cases"
something that is broadly visible and searchable from within the community.

[2014-09-29 12:42] LFSaw opened #99 "Add element labels (so that they can be named manually by the user)"

[2014-11-03 12:34] sensestage opened #100 "fix HID keyboards on OSX"

[2014-11-03 12:35] sensestage opened #101 "Windows implementation of HID"
Marije & Tim should look into this

[2014-11-03 12:35] sensestage opened #102 "desc files: document/decide on naming standards for elements"
document naming standards for elements in ```.desc.scd```-files.
This should be reflected in the documentation (e.g. the how to write a spec tutorial)

[2014-11-03 12:36] sensestage opened #103 "desc files: templates"
provide standard templates for controllers like
Joysticks, GamePads, MIDI keyboards, HID keyboards etc.
since will have more or less the same elements, regardless of vendors.

[2014-11-03 12:48] sensestage opened #104 "Make/revive LIDMKtlDevice"
This will resolve issues with devices that are using a different interface than HID on Linux, e.g. the built-in keyboard and touchpad, and devices that use special drivers

[2014-11-03 12:59] sensestage opened #105 "Website: database"

[2014-11-03 12:59] sensestage opened #106 "Website: cookbook"

[2014-11-03 13:01] sensestage opened #107 "Matrix mixer"

[2014-11-03 13:02] sensestage opened #108 "Insert effects"

[2014-11-03 13:03] sensestage opened #109 "VST plugin interface (a la LADSPA UGen?)"

[2014-11-03 13:03] sensestage opened #110 "MIDI / HID bug that Alberto reported"
atm, a vague bug report, see first comment.

[2014-11-03 13:08] sensestage opened #111 "Initialisation message for devices"
Some devices need some code run / data sent as they initialize.
We should have some infrastructure for this in the device description and code startup.

[2014-11-03 13:08] sensestage opened #112 "sysex communication with devices for particular modes (e.g. NanoKontrol2)"

[2014-11-03 13:28] sensestage opened #113 "MackyControl protocol into MKtl?"

[2014-11-03 13:31] #105 closed, assigned to nobody

[2014-11-03 13:42] sensestage opened #114 "Overview of supported devices in Documentation and web."

[2014-11-03 14:12] sensestage opened #115 "extent MKtl with OSC -- OSCMKtlDevice"
implement it!

[2014-11-03 14:17] sensestage opened #116 "port Jeff's setup to Modality and see where issues arise"

[2014-11-03 16:59] sensestage opened #117 "Cinematix Wheels : data parsing before going into MKtlElement"
Wouters cinematix wheels provide an interesting case where the MIDI data needs to be processed before you get to the actual physical controls

[code]

[2014-11-03 18:22] #94 closed, assigned to woutersnoei

[2014-11-03 18:32] #81 closed, assigned to nobody

[2014-11-03 18:34] #75 closed, assigned to nobody

[2014-11-03 18:44] #29 closed, assigned to woutersnoei

[2014-11-03 18:49] LFSaw opened #118 "write documentation for HIDMktlDevice"
like https://github.com/ModalityTeam/Modality-toolkit/issues/12 but HID

[2014-11-03 18:50] LFSaw opened #119 "add Bergen2014 labels to milestone"

[2014-11-04 11:56] LFSaw opened #120 "cookbook example for moving an action from one control element to another"
write a super-simple MKtl example in which the functionality of one controller is moved programatically to another element.

https://github.com/ModalityTeam/Modality-toolkit/issues/49

[2014-11-04 12:05] #106 closed, assigned to LFSaw

[2014-11-04 12:44] #49 closed, assigned to miguel-negrao

[2014-11-04 14:08] #119 closed, assigned to LFSaw

[2014-11-04 14:14] #10 closed, assigned to miguel-negrao

[2014-11-04 14:51] LFSaw opened #121 "remove index.desc.scd from documentation"

[2014-11-04 17:18] LFSaw opened #122 "Pretty-print for MKtlAbstractElementGroup"
it seems to be a good idea to have a Pretty-print for MKtlAbstractElementGroup.
This should then be added to the tutorial (`ModalityTutorial.schelp`).

[2014-11-04 18:31] #96 closed, assigned to woutersnoei

[2014-11-04 18:32] #79 closed, assigned to woutersnoei

[2014-11-04 18:32] #78 closed, assigned to woutersnoei

[2014-11-04 18:33] #44 closed, assigned to woutersnoei

[2014-11-04 19:34] sensestage opened #123 "descs : better reflection of pages in hardware"
Hardware pages should be reflected better,
e.g. old NanoKontrol, buttons, sliders and knobs per page, so they can be grouped and displayed accordingly.

[2014-11-04 19:49] LFSaw opened #124 "MKtl('shortname', 'deviceDescription') fails"

[2014-11-04 22:14] #64 closed, assigned to LFSaw

[2014-11-04 22:15] sensestage opened #125 "Document MAbstractKtl"

[2014-11-05 11:50] LFSaw opened #126 "MKtl.find should report useful information"
When exploring available devices with

[code]

a user is interested in
- [x] getting fast access to all the devices
- [ ] information on the devices to differentiate between them.
  - this holds especially true for HW that show up e.g. as more than one MIDI device. (could be OSC, HID, or a combination of those).

Currently we get this:

[code]

IMHO, there is
- no need for `MKtl.make('nameMe', "PC

[2014-11-05 12:04] sensestage opened #127 "HID: impact on linux does not parse report descriptor right"
There seems to be a bug in parsing the report descriptor of the impact gamepad.
Not sure where it is yet... or when it broke...

[2014-11-05 12:18] LFSaw opened #128 "MKtl() bloats post output"
MKtl('pcr0');

This is what we get

[code]

This is what we want:

[code]

[2014-11-05 12:34] LFSaw opened #129 "MKtl device description does not differenciate between separate MIDI ports in a single device"
[code]
however, the device PCR contains two different devices (here, one is a generic MIDI port, the other one is the keyboard and various other elements).

[2014-11-05 13:51] #126 closed, assigned to nobody

[2014-11-05 14:38] sensestage opened #130 "desc: reorganisation of hierarchies"
Suggested design:

[code]

[2014-11-05 15:07] LFSaw opened #131 "proper description on how to combine code::\noteOn, \noteOff, \polyTouch in Reference/MKtl_description_files"
depends on #130

[2014-11-05 16:23] #58 closed, assigned to LFSaw

[2014-11-05 16:47] LFSaw opened #132 "check SystemOverwrites and get rid of them."

[2014-11-05 16:50] LFSaw opened #133 "MKtlGui (small chars) still working and needed?"

[2014-11-05 16:57] #25 closed, assigned to LFSaw

[2014-11-05 16:57] LFSaw opened #134 "document MKtlElement.schelp"

[2014-11-05 17:02] LFSaw opened #135 "What about PKtl?"
removed in ecbccb9

[2014-11-05 17:04] #128 closed, assigned to nobody

[2014-11-05 17:29] #114 closed, assigned to LFSaw

[2014-11-05 17:37] LFSaw opened #136 "Automated generation of desc filename?"
When exploring a device, maybe give hints on how the description file should be named?

[2014-11-05 17:38] #55 closed, assigned to LFSaw

[2014-11-05 17:39] #36 closed, assigned to LFSaw

[2014-11-05 18:52] LFSaw opened #137 "MIDI learn"

[2014-11-05 18:56] LFSaw opened #138 "Integrate MFunc into Modality"
this means to
- make cookbook examples using MFunc and MKtl
- be integrated into the Helpfile system
- add MFunc to Modality
- rename MFunc to tell what it is ( @timblechmann  )

[2014-11-05 19:00] LFSaw opened #139 "Preset management"
E.g. by saving the state of an `MKtlElementGroup` and recalling it later.

[2014-11-05 19:00] LFSaw opened #140 "Documented interface to set element values through an MKtl"

[2014-11-05 19:10] #120 closed, assigned to miguel-negrao

[2014-11-05 19:14] #121 closed, assigned to tapage

[2014-11-05 19:18] #84 closed, assigned to miguel-negrao

[2014-11-05 19:21] #60 closed, assigned to nobody

[2014-11-05 19:27] LFSaw opened #141 "Make a Modality Festival"
Explicitly allocate time to prepare a Modality Concert (ie. playing _with_ Modality instruments). Should be e.g. August/September.

[2014-11-06 00:34] sensestage opened #142 "GUI: more digits in number views"
number views in the GUI should have more than two digits after the comma

[2014-11-06 13:07] sensestage opened #143 "MKtl refactor the new method"
Working on this now, first version available in the branch refactorMKtlNew.
https://github.com/ModalityTeam/Modality-toolkit/tree/refactorMKtlNew

Testing code:

[code]

[2014-11-06 13:42] #93 closed, assigned to timblechmann

[2014-11-06 15:47] #110 closed, assigned to timblechmann

[2014-11-06 16:43] #99 closed, assigned to LFSaw

[2014-11-07 10:53] sensestage opened #144 "descs: reflect relative/absolute property of control"
e.g. for mouse wheels, encoder knobs

[2014-11-07 11:08] #125 closed, assigned to nobody

[2014-11-07 11:23] LFSaw opened #145 "ElementGroups: attach only, if an action is registered"
also, have an explicite `attach/detach` method pair

[2014-11-07 11:24] sensestage opened #146 "documented interface for adding/removing elements to MKtl"
For incrementally building an MKtl.

[2014-11-07 11:43] sensestage opened #147 "GUI should react to changed( \elements ) message to reflect new elements"

[2014-11-07 11:51] #122 closed, assigned to LFSaw

[2014-11-07 11:54] sensestage opened #148 "Remove explicit references to HIDMKtl and MIDIMKtl in device description files"
These should be changed to MKtl.
They are mostly .addSpec methods.

[2014-11-07 12:32] sensestage opened #149 "descs / MKtl : create shortcut method to open deviceDescFile"

[2014-11-07 13:24] #145 closed, assigned to woutersnoei

[2014-11-08 11:19] adcxyz opened #150 "Make MIDIExplorer collect info from specific inputs only."

[2014-11-08 14:18] #148 closed, assigned to nobody

[2014-11-08 14:37] #124 closed, assigned to sensestage

[2014-11-08 14:38] #52 closed, assigned to sensestage

[2014-11-08 14:39] #22 closed, assigned to sensestage

[2014-11-08 15:26] #150 closed, assigned to adcxyz

[2014-11-08 15:40] #133 closed, assigned to adcxyz

[2014-11-08 15:48] #132 closed, assigned to adcxyz

[2014-11-08 16:20] sensestage opened #151 "MKtl - not allow rebuildFrom with a different type of device"
Protocol of the new device description should match the device that is opened.

[2014-11-08 17:54] sensestage opened #152 "MKtl - enable removing an MKtl"

[2014-11-08 18:10] #152 closed, assigned to sensestage

[2014-11-08 19:09] #143 closed, assigned to sensestage

[2014-11-08 19:09] #151 closed, assigned to sensestage

[2014-11-08 19:09] #149 closed, assigned to adcxyz

[2014-11-08 19:12] #83 closed, assigned to adcxyz

[2014-11-08 19:18] #37 closed, assigned to sensestage

[2014-11-08 19:58] LFSaw opened #153 "Write a basic cookbook example for MIDIlearn behaviour"

[2014-11-08 19:59] sensestage opened #154 "Document MKtlDevice"

[2014-11-08 20:01] #153 closed, assigned to LFSaw

[2014-11-08 20:03] #59 closed, assigned to LFSaw

[2014-11-08 20:03] LFSaw opened #155 "make a pointer in the documentation to the ModalityWorkshop/cookbook"

[2014-11-08 20:05] #155 closed, assigned to sensestage

[2014-11-08 20:05] LFSaw opened #156 "disentangle entanglement between MKtl and MKtlElement"
Basically, allowing to create MKtlElements without the surrounding structure.

[2014-11-08 20:10] sensestage opened #157 "Note about MIDIOut in How to make a description file"
MIDIOut will not be explored with MIDIExplorer, so they need to be added manually

[2014-11-08 20:15] #116 closed, assigned to jcarey0000

[2014-11-08 20:16] LFSaw opened #158 "g13 is not working as it needs a custom key-sink window..."
#116 suggests that there needs to be a custom key-sink window.

Mktl should support something like this?

[2014-11-08 20:25] #157 closed, assigned to nobody

[2014-11-08 21:15] #154 closed, assigned to sensestage

[2014-11-08 21:43] #12 closed, assigned to miguel-negrao

[2014-11-08 21:47] #142 closed, assigned to woutersnoei

[2014-11-08 22:00] #95 closed, assigned to woutersnoei

[2014-11-08 22:05] #118 closed, assigned to sensestage

[2014-11-08 22:20] #134 closed, assigned to nobody

[2014-11-09 09:12] sensestage opened #159 "rename mktl description folder"
We should change the default folder name to a longer one, that does not use the word specs

MKtlSpecs
to
MKtlDescriptions

[2014-11-09 11:01] #159 closed, assigned to LFSaw

[2014-11-09 19:09] sensestage opened #160 "MKtl.rebuildFrom should always reload spec, even if it has the same name."
As we have given the method a scary enough name, it is useful if it always rebuilds the elements, as the description may have changed even when the name stays the same, e.g. when fixing it.

[2014-11-09 19:11] sensestage opened #161 "reflect state of output elements in GUI"
E.g. when the pad light on the LPD8 is on, this should be seen in the GUI as well.

[2014-11-10 15:31] sensestage opened #162 "descs: device selection"
In order to allow for more specific device definition, I am proposing the following:

[code]

[2014-11-12 08:14] tapage opened #163 "Buttons of LogitecExtreme3DPro now counting from 0 ?"
So I tried to run the code I used at the Landmark concert but noticed
the mapping of my buttons didn't work...
off by one
Semantically this makes no sense (the buttons are numbered on the device)
From a programming perspective it does make some sense...
Would it be possible to create several different groupings within a DeviceSpec
and be able to 'assign' which one to use? While typing this I'm alr

[2014-11-12 21:57] #138 closed, assigned to nobody

[2014-11-15 13:33] LFSaw opened #164 "preparation of device descriptions"
Could someone please enlighten me on this?
Seems to be quite a lot of flattening and in-place operations here...
I'd imagine that this would benefit from refactoring.
[code]

[code]

[2014-11-16 12:37] LFSaw opened #165 "add physical labels as description of controller elements, add to tagging system"
This would result in something like that:

[code]

How do we deal with multiple labels? Arrays of symbols?

[2015-05-18 16:09] sensestage commented on #156
"for testing functionality without all of the extra stuff"

[2015-05-19 10:08] sensestage commented on #162
[code]

[2015-05-19 10:16] sensestage commented on #162
instead for multi-devices:

[code]

[2015-05-19 10:19] sensestage commented on #162
[code]

[2015-05-19 10:29] sensestage opened #166 "multicomponent MKtl"
see:  #162

[2015-05-19 10:30] sensestage opened #167 "confusion between run'n'drive and wireless run'n'drive"

[2015-05-19 10:38] sensestage opened #168 "get a list of possible shortcut names (even if devices are not there)"

[2015-05-19 10:40] sensestage opened #169 "pretty print of MKtlElement hierarchy"

[2015-05-19 10:40] sensestage opened #170 "write documentation on how to create custom MKtlElementGroups"

[2015-05-19 10:41] sensestage commented on #168
and available descriptions

[2015-05-19 10:42] sensestage opened #171 "standardized names for elements and documentation of this"

[2015-05-19 10:47] sensestage opened #172 "available specs and how to add them (document!)"
[code]

[2015-05-19 10:50] sensestage opened #173 "add deviceType to description"
[code]

[code]

[code]

[code]

[2015-05-19 10:52] sensestage commented on #171
Till: "make a file with basic descriptions of files that can be looked up"

Some function that goes through all device descriptions and lists possible elements.

[2015-05-19 10:54] sensestage opened #174 "add custom spec element in description file"
[code]

[2015-05-19 13:43] LFSaw commented on #174
fixed in 9288860

[2015-05-19 13:43] #174 closed

[2015-05-19 16:15] adcxyz commented on #43
Is this a goal for this week?
* script to render all description files into cross-platform readable JSON files

[2015-05-19 16:17] #43 closed

[2015-05-19 16:18] LFSaw commented on #43
see #23

[2015-05-19 16:18] adcxyz commented on #23
JSON files should be hierarchical
not urgent for this week
check that both read and write really works.

[2015-05-19 16:28] adcxyz commented on #166
e94cde3f7304ef72e657ca3719b920dedfed7724

[2015-05-19 16:28] #166 closed

[2015-05-19 16:28] adcxyz commented on #166
closed with commit e94cde3f7304ef72e657ca3719b920dedfed7724

[2015-05-20 04:26] adcxyz commented on #17
I think we have two versions of this now, so we can close it.

[2015-05-20 04:26] #17 closed

[2015-05-20 04:27] adcxyz commented on #17
except maybe check that they still run, and that they are written with the current canonical styles ;-)

[2015-05-20 04:29] adcxyz commented on #18
is this still the same in 10.10?
is there a simple reproducer that does work on linux and fail on OSX?

[2015-05-20 04:33] adcxyz commented on #21
this may be closed with commit e94cde3f7304ef72e657ca3719b920dedfed7724;
do we have any devices here that show that behavior to test,
and write a merge example / .comp.scd file for it?

[2015-05-20 04:50] adcxyz commented on #66
Proposal for this:
Refactor the descriptions out to a separate class MKtlDesc that handles all the folders, file lookups,
 conversions between symbol for descname, string for descfilename, and the event that contains the full description as read from the desc file; then a lot of the if cascades in MKtl could go away.
I can make a sketch today.

[2015-05-20 08:43] LFSaw opened #175 "check cookbook examples for correct behaviour"
they are in this repository:
https://github.com/ModalityTeam/ModalityWorkshop

[2015-05-20 08:43] LFSaw commented on #17
see #175

[2015-05-20 09:07] LFSaw opened #176 "review of README.md (entry-point to the github repository) to reflect quarks install possibility."

[2015-05-20 09:08] LFSaw commented on #176
done in 752a4c834985f3e9b8d8455d7e0c5df557bf0cb9

[2015-05-20 09:08] #176 closed

[2015-05-20 09:53] LFSaw opened #177 "edit webpage to reflect current activity"
also move to github.io

[2015-05-20 09:55] #177 closed

[2015-05-20 11:59] sensestage commented on #115
Example test of using argTemplate with OSCdef:

[code]

[2015-05-20 12:13] sensestage commented on #115
Example code for singular output to create a message of type:

```/output <index> <value>```

[code]

[2015-05-20 12:23] sensestage commented on #115
Example of single input osc data

[code]

[2015-05-20 12:28] sensestage commented on #115
format for combined output messages:

[code]

[2015-05-20 12:35] sensestage commented on #115
** not working yet**

[code]

[2015-05-20 12:39] LFSaw opened #178 "device definition discussion"
+ write up decision
+ write up definition to ```HelpSource/Reference/MKtl_description_files.schelp```
+ ```MKtlDesc``` quick demo
+ implement desc files in existing desc files, add test/status flag

[2015-05-20 14:09] LFSaw opened #179 "Allow nil as wildcard in elementAt()"
something like
[code]
would be great to have

[2015-05-21 08:30] sensestage commented on #178
device: -> idInfo

and see #162

[2015-05-21 08:31] sensestage commented on #178
add key:
collectives
for functionally needed groups (e.g. for OSC)

[2015-05-21 10:07] LFSaw opened #180 "add elementsLabeled to MKtl"
add a method to read out labels assigned to elements

[2015-05-21 10:07] LFSaw commented on #180
closed with 6050367

[2015-05-21 10:07] #180 closed

[2015-05-21 10:09] LFSaw opened #181 "document elementsLabeled"
( introduced in #180 )

[2015-05-21 10:14] LFSaw opened #182 "add writing a string to ableton push's display"
for a starting point, see
http://tai-studio.org/index.php/projects/sound-programming/accessing-abletons-push-device/

[2015-05-21 10:44] sensestage commented on #115
Device opening is now working:

[code]

[2015-05-21 10:47] sensestage commented on #178
deviceType:

see #173

[2015-05-21 12:14] adcxyz opened #183 "refactoring MKtl/Element"
https://gist.github.com/adcxyz/f06b4d390bc2795e2be1

[2015-05-21 13:02] sensestage commented on #178
apart from source/destination pairs implented via: 61ae776f9f75972f1c41cd625b42888fdfbf7c34

[2015-05-21 13:52] sensestage commented on #162
for osc now:
( srcPort: ..., ipAddress: ..., recvPort: ..., destPort: ... );
all of these are optional

[2015-05-21 13:55] sensestage commented on #162
We renamed the ``device`` to ``idInfo``.

[2015-05-21 13:55] sensestage commented on #162
for separate source and destination:
```idInfo: ( source: ( ), destination: () );```

[2015-05-21 15:11] sensestage commented on #115
all is working now.

[2015-05-21 23:18] LFSaw commented on #178
maybe next time amending commits? this last commit you refer to implements one (1) character: a comma... :)

[2015-05-21 23:19] LFSaw commented on #115
https://www.youtube.com/watch?v=1xWWsi3RwNI

[2015-05-22 03:06] sensestage commented on #164
Will be solved with issue #183

[2015-05-22 03:07] sensestage commented on #182
Is there a connection to sending a string via OSC, as is used in the Manta description?
I made a StringMap class for that case in commit 5fea7f61c5202907754f3ac1d8e398c62f584947

[2015-05-22 03:12] sensestage commented on #168
MKtlDesc seems to be doing this.

[2015-05-22 03:20] sensestage commented on #111
Similarly, the nanoKontrol2 needs this to enable setting LED values to it.
Also the Manta needs it before having LED control

[2015-05-22 03:25] sensestage commented on #45
should be possible now

[2015-05-22 03:30] sensestage commented on #112
See also #111

[2015-05-22 03:33] sensestage commented on #178
ok, then since that commit...

[2015-05-22 03:36] sensestage commented on #178
Also this issue #111 needs an entry

[2015-05-22 03:44] sensestage commented on #111
Till, can you elaborate on the CC messages needed for the EOWave?

[2015-05-22 04:00] sensestage commented on #111
Example implementation:

[code]

[2015-05-22 04:01] sensestage commented on #111
Within the device description:

[code]

[2015-05-22 04:03] sensestage commented on #160
I think this is fixed.

[2015-05-22 04:45] sensestage commented on #115
One more case to cover:
osc messages that don't send a value, but are just a trigger:

e.g. messsages for different triggers:
[code]

[2015-05-22 05:01] sensestage opened #184 "use argTemplate for MIDI messages"
In some cases you may use the argTemplate matching, similar to the OSCMKtlDevice.
E.g. midi devices with pitch bend implement as two buttons, both giving a pitch bend message, but with a different default value.

[2015-05-22 05:02] sensestage commented on #184
In the current implementation of MIDIMKtlDevice single MIDIFunc's are made per type of message, not per element. This means we cannot easily make use of the built-in MIDIFunc argTemplate matching.

[2015-05-22 05:12] sensestage commented on #184
Although the MIDIValueMatcher may be used:

[code]

[2015-05-22 07:58] sensestage opened #185 "OSCMKtlDevice: allow for setting ipAddress separately for device"
Ports and so on may be fixed, but ipAdrresses change for each LAN setup

[2015-05-22 08:13] sensestage commented on #115
Documentation is done.

[2015-05-22 08:15] sensestage opened #186 "Handle OSC messages without values"
(ported over from #115)

One more case to cover:
osc messages that don't send a value, but are just a trigger:

e.g. messsages for different triggers:

/trigger 1
/trigger 2

Or two messages that basically make up one value:

/button/on
/button/off

[2015-05-22 08:16] sensestage commented on #115
And close the issue: ready for testing by other people!

[2015-05-22 08:16] #115 closed

[2015-05-22 08:50] sensestage commented on #162
or use multi mktl?
see also #21

[2015-05-22 09:02] sensestage commented on #129
Do we have it in CPH?

[2015-05-22 09:03] sensestage commented on #129
See also #21

[2015-05-22 09:10] LFSaw opened #187 "Document MIDIAnalysis"
possibly rename to ```MKtlMIDIAnalaysis```?

[2015-05-22 10:07] sensestage opened #188 "do we really need the shortname?"

[2015-05-22 10:12] sensestage commented on #186
second one:
pattern match on
'/button/on'.patternMatch;
then use StringMap to find value.

[2015-05-22 10:15] sensestage commented on #186
/trigger

[code]

[2015-05-22 10:25] sensestage commented on #111
future considerations:

- if timing is important - how to deal with that, or a sequence of call-response (but no usecases known right now)
- JSON compatibility - this needs handling the special case of \sysex messages.

[2015-05-22 11:59] adcxyz commented on #66
done in the MKtl refactor branch.

[2015-05-22 12:08] sensestage opened #189 "collective: create OSC message to make a bitmask value"
For the Manta the 8 slider led values need to be sent as a bitmask to turn particular LEDs on.

So from 8 led elements, the collective would need to create a bitmask output to send as an OSC message.

[2015-05-22 12:24] sensestage commented on #111
Working for OSC now

[2015-05-22 14:52] LFSaw opened #190 "add \page to description hinting at controller page (double/triple assignment of HW elements that can be switched between using the controller itself)"
This is useful for GUIs.
It should be an optional information for each element. If not present, it is assumed to be ```0```.
An example is in ```LaunchControlXL.desc.scd```

[2015-05-22 16:42] #111 closed

[2015-05-22 16:42] sensestage commented on #111
and for midi

[2015-05-22 17:26] sensestage commented on #172
fixed

[2015-05-22 17:26] #172 closed

[2015-05-23 08:54] adcxyz commented on #66
now also in current master - it does read in that folder;
full test coming soon.

[2015-05-23 11:12] sensestage opened #191 "OSC: argTemplate matching when messages have less parameters than the arg template"
See: https://github.com/supercollider/supercollider/issues/1482

[2015-05-23 11:15] sensestage commented on #186
fixed in 3e72fbbfea9d3d92dc4eb72eee941398083805a3

[2015-05-23 11:15] #186 closed

[2015-05-23 11:53] sensestage commented on #191
fixed in 5d63849c78fab24048df280c09bcc4d206c12489

[2015-05-23 11:53] #191 closed

[2015-05-23 13:00] sensestage commented on #162
For MIDI now this is supported:
[code]

[2015-05-23 13:18] sensestage commented on #185
A similar case occurs for MIDI devices that attach to a generic USB MIDI interface.

[2015-05-23 13:49] #129 closed

[2015-05-23 13:50] sensestage commented on #162
closed via: 889c316835409042feae318519786fed8f9d9c7b

[2015-05-23 13:50] #162 closed

[2015-05-23 13:50] sensestage commented on #129
close via 889c316835409042feae318519786fed8f9d9c7b

[2015-05-23 13:53] LFSaw opened #192 "revise Web page to present the Modality effort to the public"

[2015-05-23 14:48] sensestage commented on #189
It may be easier to fix this in MantaOSC

[2015-05-23 14:58] sensestage commented on #74
closed via 889c316835409042feae318519786fed8f9d9c7b

[2015-05-23 14:58] #74 closed

[2015-05-23 15:50] adcxyz commented on #156
closed soon ...

[2015-05-23 16:24] sensestage opened #193 "MIDI: noteOn message with velocity 0 is parsed as noteOff message"
A bug in the AlsaMIDI client.

See: https://github.com/supercollider/supercollider/issues/1483

[2015-05-23 17:37] adcxyz opened #194 "supprt description files with arrays of assocs instead of events"
the new format foer the elements description, as currently in the 2 nanoKONTROL files is
[ \a -> 1, \b -> 2, ... ]
will be supported in MKtlDesc ASAP,
just want to finish other things first.
For converting the desc files (where desired), please do it like this: change
(
fwd: (note: 64, ),
rew: (note: 67, ...)
)
to:

[
fwd: (note: 64, ),
rew: (note: 67, ...)
].asAssociations;

this is much faster t

[2015-05-23 18:54] sensestage opened #195 "MIDI: implement remaining MIDIIn messages"
like

[code]

and songSelect and so on.

[2015-05-23 23:51] sensestage opened #196 "MIDIIn.connectAll connects to wrong ports on Linux"
If the other ports on Linux are higher in the list, then SC connects to itself instead of the external program.
Proper behaviour would be to skip the own ports and connect to the next one.

[2015-05-24 08:01] adcxyz opened #197 "use case: polyphonic key + xy control with QuNexus"
The QuNexus keyboard has a mode with 10-note polyphony where it sends noteOns and ccs on 10 different channels is a rotating scheme.
- make a sound example for that
- use xy control values for parameters
- use midiRawAction to record into a KtlLoop, e.g.

[code]

[2015-05-24 08:38] sensestage commented on #196
fix:
[code]

[2015-05-24 08:41] sensestage commented on #196
See also: https://github.com/supercollider/supercollider/issues/1487

[2015-05-24 09:54] sensestage commented on #193
fix proposed for supercollider

[2015-05-24 09:58] sensestage commented on #196
Fixed in e9ff254cdbc137f2b95902c1e0782e55a47d1aac

[2015-05-24 09:58] #196 closed

[2015-05-24 10:58] adcxyz opened #198 "add efficiency tests for MIDI responders"
the MIDIresponders in Modality are complex to read.
when considering simplifying by switching to MIDIFuncs,
the current scheme turned out more efficient than MIDIFunc,
which was a reason for keeping them.
-> add such tests to the documentation.

[2015-05-24 12:09] sensestage opened #199 "GUI: element type pianoKey doesn't have a nice GUI representation yet"

[2015-05-24 12:15] LFSaw opened #200 "make release"
tag your releases. The name of the tag is the name of the release version in the Quarks system. Using semver (eg "1.0.1") is recommended. This provides the Quarks system with a way to list versions in the interface and to checkout a version and for people to pin dependencies to a stable release. it also provides a downloadable version on your github releases page.

[2015-05-24 12:35] LFSaw opened #201 "Add UnitTests environment"
Add a quark for UnitTests.
(they are a separate Quark because they require the UnitTest quark, a dependency we do not want to have in the Modality Core-island.

[2015-05-24 12:36] LFSaw commented on #201
Here's the quark: https://github.com/ModalityTeam/ModalityTests

[2015-05-24 12:36] #201 closed

[2015-05-24 12:54] sensestage commented on #198
argTemplate matching for controls on a device that send the same message but in a different range, like some button-based pitchbend messages on midi keyboards, the usual MFunc would provide that feature more easily.

https://github.com/ModalityTeam/Modality-toolkit/issues/184

[2015-05-24 12:58] sensestage commented on #178
Still some discussion whether ```deviceType``` should have that name, or another one.

[2015-05-24 20:59] sensestage commented on #135
An interesting approach in:
https://github.com/ModalityTeam/Modality-toolkit/compare/specsUpdate

[2015-05-25 06:36] adcxyz opened #202 "reduce description noise - provide default specs for midiMsgType / type"
[code]

[2015-05-25 13:48] LFSaw commented on #182
well, it is arbitrary strings... so no :)

[2015-05-25 13:50] LFSaw commented on #160
we should keep this open until @adcxyz merged the MKtl rewrite branch.

[2015-05-25 13:51] LFSaw commented on #115
is there a test-case I can use for testing?

[2015-05-25 13:59] LFSaw commented on #24
initialisations:

CC 1 66 0 << full scale continuous
CC 1 66 1 << full scale half tone
CC 1 66 2 << 4 octaves continuous
CC 1 66 3 << 4 octaves half tone

CC 1 70 0 << max on LED
CC 1 70 1 << min on LED

CC 1 68 <num> << base note   to num
CC 1 72 <num> << pressure CC to num
CC 1 73 <num> << pad      CC to num
CC 1 69 0 << pad FM destination, pressure on CV
CC 1 69 1 << pad AM destination, pad

[2015-05-25 14:00] LFSaw commented on #111
init for EOWave Ribbon, see #24

[2015-05-25 14:00] sensestage commented on #115
See the documentation of:
How to write a description file for OSC.

[2015-05-25 14:21] LFSaw opened #203 "add descriptive fields to desc files"
vendorUrl: <url to product at vendor homepage>
manual: <url to manual>
description: <short description of device>
features: <short list of features, each line is one feature>
notes: <markdown-formatted notes>

[2015-05-25 14:22] LFSaw commented on #203
this is useful for automatic generation of controller webpages

[2015-05-25 14:42] LFSaw opened #204 "fix website controller page template so that MKtlDesc(\rnnd0).web; works"
should point to remote webpage:

[code]

[2015-05-25 22:07] sensestage commented on #202
I would prefer to have an explicit definition of midiChan

[2015-05-25 22:07] sensestage commented on #202
automated spec is ok for me

[2015-05-26 06:59] LFSaw opened #205 "Fix affiliations on webpage"
currently reads:

[code]
This should also include a link to the funding institute.

Please hand over the assignee, once you did your part.

[2015-05-26 11:09] sensestage commented on #182
Do you always need to send the 68 characters?

[2015-05-26 11:14] sensestage commented on #182
main format:

[code]

I could imagine something like:
[code]
The 24 can be different for each line (so each line would be a different MKtlElement), and we would need a ```type: \asciiString``` with an additional element: ```length: 68```.

Then the send method could translate the string into an array of ascii numbers, fill it up to make an array of 68 elements, and put it into the argTemplate, fla

[2015-05-26 11:15] sensestage commented on #182
if the length is arbitrary, you can leave it nil, and it will just create an array of ascii characters as long as the string is.

[2015-05-26 11:25] sensestage commented on #182
Example implementation:
This would be in ```MIDIMKtlDevice::send``` for the ```sysex``` case:

[code]

[2015-05-26 11:26] sensestage commented on #205
done my part!

[2015-05-26 14:17] LFSaw opened #206 "MKtl refactor: creating from shortname broken"
[code]

[2015-05-26 22:29] bhabbestad commented on #203
I will I will add 'features' to those controllers missing this item over the next days.
I can also start to update the  'type' table according to the naming convention.

[2015-05-27 05:40] adcxyz commented on #204
mostly done:
MKtlDesc.web; // works
m = MKtlDesc('APCMINI');
m.web // not working because of changed name

// this opens the url, but WebView closes very quickly
// Qt WebView exits apparently because of incompatible html file?

MKtlDesc.web("akai-apcmini");

btw, all the desc names now have minuses ("akai-apcmini"),
can we switch that to underscores?
then writing the as Symbols with \name works -

[2015-05-27 11:15] LFSaw commented on #203
Super:

make sure to add the features like this:

---
<other stuff>
features: |
    + one feature,
    + another feature,
    + and yet another feature
<other stuff>
---

:)
	Till

[2015-05-28 07:56] adcxyz commented on #206
last test - MKtElementGroups are back

[2015-05-28 10:05] telephon opened #207 "how to shoot yourself in the foot trying to access Keyboard / Trackpad"
The following will freeze keyboard-arrow-keys and trackpad access on the whole system. I had to cold-restart the system with no ability to save any files, so this is kind of serious (in my case, I was lucky).

[code]

The GUI (tiny window) shows a little 'nil' on it.

[2015-05-28 12:26] adcxyz commented on #207
wow. we should block that from code then.

[2015-05-28 12:28] adcxyz commented on #206
closed with commit #414db8ea24ca53af30be66b6c6305e3aec4111ef
 in refactor_test2.

[2015-05-28 12:28] #206 closed

[2015-05-28 12:41] adcxyz commented on #204
MKtlDesc.web; // works
MKtlDesc.allDescs.choose.web // still auto-closes

looks like this has to be fixed in html files. till ?

[2015-05-28 13:07] adcxyz commented on #203
format suggestion within MKtlDesc:
[code]

[2015-05-28 13:46] LFSaw commented on #207
HID for internal devices on OSX is completely broken... nothing we can do about apart from blocking them :/

[2015-05-28 13:47] LFSaw commented on #202
+1 for explicit definition...
automated spec ok

[2015-05-28 13:49] LFSaw opened #208 "MKtl refactor branch: link between desc information and actions is broken"
in commit 1ed99dd this seems to be broken:

[code]

[2015-05-28 13:56] adcxyz commented on #208
just sitting at the MIDI side of MKtl ...

[2015-05-28 16:03] adcxyz commented on #208
closed with #768eba0da312e23349ba2b7680007e3b560fbf11

[2015-05-28 16:03] adcxyz commented on #198
obsolete because already switched to MIDIFuncs.

[2015-05-28 16:03] #198 closed

[2015-05-28 16:11] adcxyz commented on #194
closed already, cant find which commit it was.

[2015-05-28 16:11] #194 closed

[2015-05-28 16:13] adcxyz commented on #188
works again now, and I added MKtl.makeLookupNameFunc variable
so one can play with different shortname functions.

[2015-05-28 17:40] adcxyz commented on #169
done I think:
[code]

[2015-05-28 17:40] #169 closed

[2015-05-28 17:45] adcxyz commented on #164
this part of the refactoring is done now.

[2015-05-28 17:45] #164 closed

[2015-05-28 17:48] adcxyz commented on #156
closed

[2015-05-28 17:48] #156 closed

[2015-05-28 17:51] adcxyz commented on #139
This should simply be
Mktl(\x).elements.value;
not tested whether this works both ways.

[2015-05-28 17:54] adcxyz commented on #160
might work already, needs tests

[2015-05-28 17:56] adcxyz commented on #136
solved by using website doc page paths as filename.

[2015-05-28 18:00] adcxyz commented on #107
is that a maxtrixmixer for controls?
if yes, see Quarks/Influx ;-)

[2015-05-28 18:04] adcxyz commented on #66
done now in refactor branch.

[2015-05-28 18:04] #66 closed

[2015-05-28 18:07] adcxyz commented on #31
this is done now I believe?

[2015-05-28 18:08] adcxyz commented on #18
I think Marije had that solved in Copenhagen;
is there an example yet that works on OSX?
if not, please commit one.

[2015-05-28 20:25] LFSaw commented on #208
768eba0da312e23349ba2b7680007e3b560fbf11 (no '#' for commits...)

[2015-05-28 20:26] LFSaw commented on #208
ah ok, thought I've seen this working already...

[2015-05-28 20:30] LFSaw commented on #208
did not help for me, sorry...

[2015-05-29 09:34] adcxyz commented on #207
closed with 63a42ae62f21281f95609fab001aa47e8393935a

[2015-05-29 09:34] #207 closed

[2015-05-29 10:46] adcxyz commented on #208
ok, will look into it asap

[2015-05-29 14:44] adcxyz commented on #31
which common midi devices no that?
would be good to try with a real device

[2015-05-29 14:58] adcxyz commented on #179
in republic:
key for 'where' param can be
single name,
index,
list of names,
and 'all'
then with nanokontrol1,
x.elementAt(\sl, \all, 8) could used to add
 action to set mastervol

[2015-05-29 18:14] LFSaw commented on #208
sorry... :8ball:

[2015-05-29 18:57] LFSaw commented on #204
WebView-autoclose works now. See supercollider/supercollider#1505

[2015-05-29 18:57] #204 closed

[2015-05-29 18:59] LFSaw commented on #205
this is closed with ModalityTeam/ModalityTeam.github.io@3e22ccff30cd1ce47d145f820a50c0d15a2dd24c

[2015-05-29 18:59] #205 closed

[2015-05-29 19:02] LFSaw commented on #18
@sensestage ?

[2015-05-29 19:02] LFSaw commented on #66
I am so happy about this!

[2015-05-29 19:03] LFSaw commented on #107
@sensestage ?

[2015-05-29 19:03] LFSaw commented on #31
the launchpad e.g., Mine is at the university, so you can try it with that, if you'd like to :)

[2015-05-29 19:08] LFSaw commented on #136
closed with 27476ceb386b066b3a7c7300351f7ee6a27d24a1:

naming convention is given in https://github.com/ModalityTeam/Modality-toolkit/blob/master/Modality/HelpSource/Reference/MKtl_description_files.schelp:

The filename should be of the following format:
```<vendor>-<device_name>.desc.scd```
where

+ ```<vendor>``` is lower-case name of vendor with spaces replaced by ```-```
+ ```<device-name>```

[2015-05-29 19:08] #136 closed

[2015-05-29 19:12] LFSaw commented on #139
wit the new MKtlDesc implementation, we could have a method ```serialise``` which returns ```MKtl:fullDesc``` including all ```MKtlElement:value``` (and lastValue etc.) serialised into a state dictionary...

[2015-05-29 19:14] adcxyz commented on #139
yes, very good idea.

[2015-05-29 19:15] LFSaw commented on #188
saw it, looks nice....
my opinion to this question is:

it is a "nice to have" which may turn into a "must have to maintain", once more people catch on using that funtionality...

[2015-05-29 19:16] LFSaw commented on #139
:100:

[2015-05-29 19:16] bhabbestad commented on #107
I wonder if this is jeffs use case, the porting of his matrix mixer for controlling ar+kr processing

b

29. mai 2015 kl. 21:03 skrev LFSaw <notifications@github.com>:

[2015-05-29 19:16] bhabbestad commented on #139
gogogo!!
b

29. mai 2015 kl. 21:16 skrev LFSaw <notifications@github.com>:

[2015-05-29 19:17] LFSaw commented on #107
is the use case anywhere documented?

[2015-05-29 19:18] adcxyz commented on #139
MKtl(x).presetValuesAt(\sl)
could return a similarly formatted writable array, for a chosen subset of all elements,
in nested [key: val, [key: val, key: val]] format, and
MKtl(x).presetStringAt(\sl);  creates a pretty-printed string from it, saveable to text file.

[2015-05-29 19:21] adcxyz commented on #188
if that becomes a problem, we can remove it.

[2015-05-29 19:25] adcxyz commented on #204
with a spanking fresh build only, or with say 3.6.6 IDE as well?

[2015-05-29 19:31] LFSaw commented on #203
:+1:
moreInfo >> deviceInfo ?

[2015-05-29 19:50] adcxyz commented on #208
works for cc and noteOn/Off, others to follow soon.

[2015-05-29 19:53] adcxyz commented on #183
MKtlElement is done already, MKtl soon ready for merge to master.

[2015-05-29 19:55] adcxyz commented on #188
also, ``` MKtl(\myPetName, "company-productname"); ``` works already

[2015-05-29 19:57] LFSaw commented on #208
can I help? tomorrow I might have some spare minutes...

[2015-05-29 22:19] LFSaw commented on #192
I'd call this reasonably closed now.

[2015-05-29 22:19] #192 closed

[2015-05-29 22:40] LFSaw commented on #204
spanking... :/

I also now ( d8306ad ) added a ```docURI``` method to MKtlDesc and changed naming for ```Meta_MKtlDesc:webhome``` to ```docURI``` because: clarity.

[2015-05-29 23:35] adcxyz opened #209 "how to listen and send to a MIDI device with multiple ports in one MKtl?"
The Steinberg CMC PD is a case:
* it registers with three in ports, no less,
     all the same name (and Port 1 Port 2 Port 3)
* it sends on the first two ports
* no idea yet which ones it receives on.

When you create it with MKtl('stnb0'),
it takes a random one of the ports (dict.detect ... )
[code]
good like that?
other ideas?
also, no idea how to send values back yet when multiple return uids.

[2015-05-30 07:52] adcxyz commented on #139
in many use cases, some controls should be saved, and others not (e.g. master volume).
so maybe a good way is to add a collective called eg \paramPreset, which get its values as
[ [ \kn, [ val1, ..., valueN] ], [\sl, [val1, ... ]]],
which can be saved in memory as a named setting, and saved to disk as a prettyString.

[2015-05-30 10:39] adcxyz commented on #197
started with example in 3dc7ae2d97b91522b1cd4a7651bb1535e4f0f989

[2015-05-30 13:37] adcxyz commented on #208
if you can, please check that your interfaces work again, enable polytocuh and try the push- see tests/alllcontrollers

[2015-05-30 19:18] adcxyz commented on #168
this would do it - make a method for it?
[code]

[2015-05-30 19:19] adcxyz commented on #168
even simpler:
[code]

[2015-05-30 19:21] adcxyz commented on #107
jeff? marije?

[2015-05-31 08:41] adcxyz commented on #23
Hoi all,

Here is a proposal for  serialisable notation:
* use KeyValueArray format to keep order, and use event-like expansion notation
[code]
this can easily be converted as needed when reading the file in different programs.
example for how a complete desc file could look:
[code]
worth pursuing?

[2015-06-01 07:56] adcxyz commented on #167
looked at this, with both devices attached, and the underlying problem is

the shortname is the same for both (as for others, e.g. the Steinberg CMC things),
so just calling MKtl('rnnd0') can really be either of the two descriptions.
this touches issues #188, #168, #209 (and maybe #185)

possible solutions I see: (#188)
1. keep the shortname as is,
    and if there are multiple matches, and check

[2015-06-01 08:06] adcxyz opened #210 "shortnames are not unique"
currently the shortname algorithm creates identical shortnames for
runNdrive + rnnd wireless, and the three Steinberg CMC devices.
this makes the descriptions indistinguishable when doing MKtl(\short0);

this touches issues #188, and  #168, #209 (and maybe #185)

Possible solutions I see: (#188)
1. keep the shortname as is,
    and if there are multiple matches, check by actual idInfo reported

[2015-06-01 08:14] adcxyz opened #211 "we need named list or ordered envir"
we have several different places where we want named items AND keep their order:
- keep hierarchical order and sequence  from desc files in
  MKtl.elements
- future - save presets by ordered names
- order in which devices are registered in e.g. HID.available

There are several implementations of this already, in OE in wslib,
Julian and I have written different ones  for several projects,
MFunc has

[2015-06-01 08:16] adcxyz commented on #211
I would prefer the small separate quark and later inclusion in 3.7
or having a new OrderedSet, OrderedDictionary supported by primitives in SC itself,
which has subclasses like OrderedEvent etc.

[2015-06-01 11:13] LFSaw commented on #112
from the nanoKONTROL2 desc:

[code]
this needs explanation, esp. about what that code does since sysex may also kill your controller's setup.

[2015-06-01 12:36] LFSaw commented on #211
I guess, non of these

[code]

help?
Then I'd make a separate quark.

[2015-06-01 13:27] adcxyz commented on #211
no they are both not sufficient. will make a quark then!

[2015-06-01 13:33] adcxyz commented on #208
merged all changes from current master, and nearly everything except
adding the missing midi msgTypes from midimktlbranch. (this needs a bit more care).
If you like, please test current refactor_test2 branch - except for allNotesOff,
and sysrt things like songStart etc, it should listen to everyt message.
sendback not tested yet, may work partially.

please commit the tests you use, so I can check

[2015-06-01 19:58] LFSaw commented on #210
My 2c:
Get rid of the shortnames, I say.

How about:

[code]

searches for all available devices connected to the system that match with the identifier string and

+ if only one found: opens that one
+ if more than one found: attaches first unopened device and tells the user that there are more to be connected.

[code]

+ attaches 6th device that matches.

[2015-06-01 20:09] LFSaw commented on #112
so I looked into the [linked overtone sources](https://github.com/overtone/overtone/blob/master/src/overtone/device/midi/nanoKONTROL2.clj) and found this explanation text:

We should _at least_ tell people what's going on with their controller and, IMHO, _give them a handle to revert the action_.

This sysex implementation is currently broken in the MKtl_refactor_2 branch and _prevents it from bei

[2015-06-01 20:20] LFSaw commented on #167
this is a duplicate of #210

[2015-06-01 20:20] #167 closed

[2015-06-02 09:05] adcxyz commented on #112
"This sysex implementation is currently broken in the MKtl_refactor_2 branch ( @adcxyz ? ) and prevents it from being merged. I therefore declare this as a bug."
sorry, no time yet to figure out how the sysex / sysrt MIDIFuncs should best be integrated,
the building process of these has been massively refactored.
coming ASAP :-)

[2015-06-02 10:28] LFSaw commented on #200
I'd suggest '```0.9.0'``` for our release. I rename the Milestone accordingly.

[2015-06-02 10:30] LFSaw commented on #200
I also set the date of the milestone to end of June. This gives us a Month to work on it.

[2015-06-02 12:01] LFSaw commented on #193
not our playfield... this is discussed (and fixed) in https://github.com/supercollider/supercollider/pull/1488

[2015-06-02 12:01] #193 closed

[2015-06-02 12:02] LFSaw commented on #188
let's keep discussions about this at one point: #210

[2015-06-02 12:02] #188 closed

[2015-06-02 12:13] LFSaw commented on #209
I thought we had some agreement on this made based on the ```ableton-push``` device, I cannot find it anymore... :/ @sensestage , @woutersnoei ?

[2015-06-02 12:18] LFSaw commented on #158
This could be fixed with a note on the webpage

[2015-06-02 12:20] LFSaw commented on #137
there's an example for this in the cookbook:
https://github.com/ModalityTeam/ModalityWorkshop/blob/master/cookbook/MIDI-learn/basic%20midiLearn.scd

look at it and decide if this is enough to close the issue.

[2015-06-02 12:22] LFSaw commented on #127
this should be either reported on the webpage or fixed.

[2015-06-02 12:23] LFSaw commented on #117
as this is a one-off controller, I'd set this to optional.

[2015-06-02 12:23] LFSaw commented on #113
see #117

[2015-06-02 12:24] LFSaw commented on #109
what does this mean? more explanation needed.

[2015-06-02 12:24] LFSaw commented on #108
needs more description.

[2015-06-02 12:25] LFSaw commented on #107
I'll close this because it is unclear what it means

[2015-06-02 12:25] #107 closed

[2015-06-02 12:27] LFSaw commented on #100
Due to hardware lolckup, internal OSX devices are filtered out in MKtl.find, therefore ar enot accessible.

[2015-06-02 12:27] #100 closed

[2015-06-02 12:27] LFSaw commented on #97
as this is not a modality issue, I cliose this issue as not related.

[2015-06-02 12:27] #97 closed

[2015-06-02 12:28] LFSaw commented on #72
@adcxyz, you had an example for this somewhere?
Should go into the cookbook (and be referenced here...)

[2015-06-02 12:30] LFSaw commented on #45
should go into the cookbook then.

[2015-06-02 12:33] LFSaw commented on #23
[code]

otherwise nice :)

[2015-06-02 12:35] LFSaw commented on #11
this is an "islands"-thing. examples for this are to come. later.

[2015-06-02 12:36] LFSaw commented on #211
Name should be ```SortedDict```, maybe?

[2015-06-02 12:38] LFSaw commented on #208
I'll close this issue now because it is explicitly coined towards the MKtl refactor branch.

[2015-06-02 12:38] #208 closed

[2015-06-02 14:53] LFSaw opened #213 "MIDIMKtlDevice: get destUID to work again in MKtl_refactor branch"
currently posts

[code]

for a ```korg-nanokontrol2``` which definitely has a dstOut.

[2015-06-02 16:07] LFSaw commented on #183
wait for merge to master to close this.

[2015-06-02 16:14] LFSaw commented on #190
this is used in the MKtlGUI implementation.

[2015-06-02 16:51] bhabbestad commented on #210
+1 for getting rid of #shrtnms
good for clarity

[2015-06-02 19:37] LFSaw commented on #203
I now settled on the following optional information items:

[code]

[2015-06-02 19:38] #203 closed

[2015-06-02 21:37] sensestage commented on #209
You can specify the port in the device description - all this is in the midimktldevice branch.

And then you can make a combined MKtl, like adcxyz worked out.

[2015-06-02 21:40] sensestage commented on #213
Also here: please merge in my changes that I made in the midimktldevice branch. I did quite a bit of work on this.

[2015-06-02 21:41] sensestage commented on #199
right now it is quite ugly - a number box to push a key...

[2015-06-02 21:44] sensestage commented on #112
These are not MIDIFuncs - this is sending out....

[2015-06-02 21:46] sensestage commented on #112
I haven't found the reverse sysex messages yet online...

But agreed that we need the extra comment...
Or make initialisation messages optional, or have them to be needed to be executed explicitly.

[2015-06-03 06:41] adcxyz commented on #209
ok, then it should be easy to support arrays there

[2015-06-03 08:16] adcxyz commented on #141
Just in case it helps, I may have the obvious title for the Festival:
"Modal Kombat"

[2015-06-03 10:22] tapage commented on #141
perfection!

2015-06-03 10:16 GMT+02:00 Alberto de Campo <notifications@github.com>:

--
Tijs Ham

Tapage <http://tapage-sound.com/>
The Void* <http://thevoidpointers.com/>
Tapeface <http://tapeface.bandcamp.com/>
Soundlings <http://www.soundlings.com/staff/tijs-ham/>
Steim <http://steim.org/>
Tympanik Audio <http://tympanikaudio.com/artists/tapage/>
Meta4 <http://meta4recordings.bandcamp.com/trac

[2015-06-03 14:44] LFSaw commented on #141
bliss!

[2015-06-08 11:48] LFSaw opened #214 "MKtlElement: add time slot"
store time value as it is provided by (OSC/MIDI/HID)func

[2015-06-08 15:32] #213 closed

[2015-06-08 19:54] telephon commented on #211
should be in common, I think

[2015-06-08 20:33] LFSaw commented on #211
I'm all for what @telephon said... however, I think a good way to introduce this is via a separate quark.

[2015-06-08 20:38] telephon commented on #211
Yes, now that we have git in the Quarks system it may be possible to move things around. I used to hesitate, because you'll get a duplicate class error with different versions if you do.

[2015-06-08 20:42] LFSaw commented on #211
how about a "dev"-version in a git quark which is meant to be integrated into commons, once it is fully tested by, say, 10 people?
it doesn't even have to show up in the public quarks listing...

[2015-06-08 20:45] telephon commented on #211
good idea. Needs a good design, but would make develop things easier.

[2015-06-09 07:00] LFSaw commented on #214
ok, so I thought of adding a timestamp to ```MKtl(Abstract)Element``` as there is a time argument provided at least for OSC messages which we should pass through. Now the question arises if we want to populate the timestamp as well for other protocols like MIDI or HID.

I think it is useful, however, it adds overhead to the message evaluation service (not that much).

on my machine:
[code]

opinio

[2015-06-09 07:13] LFSaw opened #215 "why is deviceValueAction_ called with a second argument?"
in ```MIDIMKtlDevice```, MKtl_refactor_test2 branch.

[2015-06-11 08:56] adcxyz commented on #211
thanks for discussion, completely agree.
for now, I put a first sketch in the refactor branch so I can keep going with it - please test and comment!
9f99b3f8b8c70fa400258bb6f2b9683e0ee3a5ce

[2015-06-11 08:58] adcxyz commented on #214
good idea, could be called
var <lastUpdateTime
and be set here:
 value_ {
...
lastUpdateTime = Process.elapsedTime
}

[2015-06-11 09:03] adcxyz commented on #215
reintroduced in refactor by accident - was to avoid sendback to device,
which is now handled more clearly.
closed with commit 2650616537d57c627ac89f8a1d97aad6cc50da56

[2015-06-11 09:03] #215 closed

[2015-06-11 09:07] adcxyz commented on #179
this could be addressed nicely in NamedList, see #211

[2015-06-11 12:17] adcxyz commented on #181
closed with 888fb7139833bf50761b4001ec91b17d681d149d

[2015-06-11 12:17] #181 closed

[2015-06-12 08:18] adcxyz commented on #210
OK, closed with 4b3612ca03544b544adf1fcc4babff5d08004959
lookupNames are really unique now, and pretty clear to read, as here:
( 'midi': List[ \midiSrc_0_nanokontrol,
\midiDest_0_nanokontrol ],
'hid': List[ \hid_6_run_n_drive ] )

[2015-06-12 08:18] #210 closed

[2015-06-12 08:19] adcxyz commented on #168
this is obsolete now with dropping shortnames, in commit 4b3612ca03544b544adf1fcc4babff5d08004959

[2015-06-12 08:19] #168 closed

[2015-06-12 08:30] adcxyz commented on #214
done in e9b3f0155642431e02e404574dc38dcd1c7702dd

[2015-06-12 08:33] adcxyz commented on #160
already done and tested just now:
- asks to close device if open, then rebuilds all elements from desc it has,
or new one passed in.

[2015-06-12 08:33] #160 closed

[2015-06-12 12:54] adcxyz opened #216 "Simplify lookup : one single lookup dict of MKtlInfo objects for all protocols."
each MKtlInfo contains info in the same format across protocols, so all objects can be found by
nickname, lookupName, idInfo, protocol and e.g. index in HID.available, etc etc.
should make loopy lookup logic go away completely.

[2015-06-13 00:36] adcxyz commented on #21
now works with single srcID and destID - still to test for multi-uids for src/dest.

[2015-06-13 00:37] adcxyz commented on #216
done with d490301de2f19780c0d416e5621920b6a3ec9a27

[2015-06-13 00:37] #216 closed

[2015-06-13 00:39] adcxyz commented on #209
got further with this in d490301de2f19780c0d416e5621920b6a3ec9a27
still open: support multiple uids for each srcID and destID.
e.g. the Steinberg CMC devices do that.

[2015-06-13 11:32] LFSaw commented on #214
This is partly good, however, it would be good to be able to set it from within the ```(OSC)responder```: OSC provides timestamped messages by itself, no need to get the time for this again :)

[2015-06-13 12:05] adcxyz commented on #214
well if you set the value from code elsewhere (e.g. from a KtlLoop), you also want a timestamp, or not?

[2015-06-14 11:58] adcxyz commented on #211
reminder:
for now, I put a first sketch in the refactor branch so I can keep going with it
* Please test and comment!

[2015-06-14 12:33] adcxyz commented on #185
I believe I got this with commit 7a89e3f2233ef1c1517607c05e601fd65ac86f68
Please test with  devices where it is really needed (the manta is local only):
// from example in manta desc file
MKtl(\manta, "*manta*");
MKtl(\manta).mktlDevice.updateSrcAddr("1.2.3.4", 56789);
MKtl(\manta).mktlDevice.source; // has new numbers, disconnected

[2015-06-14 19:28] adcxyz commented on #214
hi, some tests:
// ask process for time
bench { 1000000.do { Process.elapsedTime; }; }; // -> 0.16 sec
// store in a global dict, then look up
q = (); q[\time] = Process.elapsedTime;
bench { 1000000.do { q[\time] }; }; // -> 0.15 sec
 // lookup of a class variable
bench { 1000000.do { Server.local }; }; // 0.11 sec

my 2c:
asking again for current time is very cheap,
and IMO no reason to worry abo

[2015-06-14 21:17] adcxyz commented on #214
and close the issue ;-) ?

[2015-06-15 08:26] adcxyz commented on #11
another option for control processing is using MFunc to do the processing steps, and then do the sending in the last func. this would makse sense together with a global repository of many processing functions, which is used to populate the local funcs in the MFunc in question.
will write an example soonish.

[2015-06-15 08:27] adcxyz commented on #18
pretty please ;-) ?

[2015-06-15 08:29] adcxyz commented on #23
ok, I take that as a yes.

[2015-06-15 08:31] adcxyz commented on #24
who has one and can finish this?

[2015-06-15 08:38] adcxyz commented on #72
the example is in MKtlElement.schelp

[2015-06-15 08:43] adcxyz opened #217 "gamepad sticks and compasses should have special guis"
esp. for gamepads, a slider2d-based view. I had started on this with the StickView and CompassView classes in adclib, which could be taken and adopted easily I hope.

[2015-06-15 08:54] adcxyz commented on #102
We should mirror all these definitions in a class, e.g. MKtlStandard.
Then we can automatically generate template files,
test descriptions for compliance with recommended naming schemes,
fill in default specs where missing, etc etc.

[code]

[2015-06-15 09:01] adcxyz commented on #108
is this effects as porcessing of control messages, as in #72?

[2015-06-15 09:09] adcxyz commented on #135
currently MKtlElement has the pattern support below,
and Miguels asPattern method can be done simply with
Pn(~elem, repeats: 5);
instead of requiring knowledge of a new special method as in:
~elem.asPattern(5);
[code]

[2015-06-15 09:10] adcxyz commented on #139
will try to get NamedList to do this nicely.

[2015-06-15 09:13] adcxyz commented on #144
how about adding this in descriptions:
(
elementType: \encoder,
valueSetType: \relative, // and default is \absolute
...
)

[2015-06-15 09:18] adcxyz commented on #165
in the JITLibExtensions / Halo tagging system, tags are always weights, by default 1, so you can express relative weights (e.g. this Ndef is a little noisy, that one is very noisy). this supports multiple tags extremely simply.

[2015-06-21 08:09] LFSaw opened #218 "A minor suggestion regarding naming of classes and methods"
At some point, we agreed to have both class and method names explicitly typed out, unless they are used a lot in end-user (live-)coding.
With this in mind, I'd suggest renaming

[code]

[2015-06-21 08:15] LFSaw commented on #135
So in this light, I'll close this issue.

[2015-06-21 08:15] #135 closed

[2015-06-21 08:17] LFSaw commented on #108
as there is no-one replying with further information, I close this issue as being too little explicit.

[2015-06-21 08:17] #108 closed

[2015-06-21 08:18] LFSaw commented on #102
This should then go to the

	[ModalityTests](https://github.com/ModalityTeam/ModalityTests)

Quark, yes?

[2015-06-21 08:44] adcxyz commented on #102
No, better have them in the toolkit,
so users can use them for looking up what is required, and which are optional,
and to check their desc file easily for correctness while writing it.
Will also be useful for templates when making a desc from a captured  input stream,
and in other places too.

[2015-06-21 10:11] LFSaw commented on #102
:+1:

[2015-06-21 10:12] LFSaw commented on #218
@adcxyz :

and call it desc consistently in all variable names, method names and lookup keys.
OSCMon, MIDIMon and HIDMon will certainly be used for live coding -
visualizing controller streams is great for understanding what is going on
and for entertainment and/or art.

[2015-06-21 10:13] LFSaw commented on #218
and call it desc consistently in all variable names, method names and lookup keys.

ok.

visualizing controller streams is great for understanding what is going on
and for entertainment and/or art.

I nevertheless find the name ```*Mon``` rather not telling anything... would prefer ```*Monitor```. Any other suggestions?

[2015-06-21 10:14] LFSaw commented on #24
it is assigned to me, I have one.

[2015-06-21 10:15] LFSaw commented on #23
:+1:

[2015-06-21 10:16] LFSaw commented on #18
I'll meet her tomorrow and will not let her go until she answers... ;-)

[2015-06-21 10:16] bhabbestad commented on #108
Hmm, I wonder if this was connected to the idea of including "master FX chain",

master fader, EQ, compression, limiting,

all of this is available in UnitLib - and I seem to remember that we discussed the option of
a "breaking out" .

This sounds like a great opportunity for a modality island, no?

So question would be - what , if any , modification is needed to make this work out?

b.

21. juni

[2015-06-21 10:24] adcxyz commented on #187
should be MIDIMon, and needs some refactoring as well. esp. for auto-building better desc files.

[2015-06-21 10:52] LFSaw commented on #214
IMHO it is not about asking again, it is that you want to have the precise time on which the message arrived/was scheduled, *not* when it arrives at the end of the OSC stack since we do not know how much time passed in between.

[2015-06-21 11:02] LFSaw commented on #210
I like the lookupNames. Thanks for this!

:)
	Till

[2015-06-21 11:05] LFSaw commented on #179
I am for the implementation with ```NamedList```.
Why ```\all```, if there is ```nil```?

[2015-06-21 11:06] LFSaw commented on #218
@tapage ? @sensestage ?

[2015-06-21 11:12] LFSaw commented on #144
for now, I thought there is

[code]

which is not really a good idea...

maybe

[code]

?

[2015-06-21 14:43] bhabbestad commented on #218
I support full length name for clarity

[2015-06-21 19:02] adcxyz commented on #108
in the Jitlib archipelago, there is also a MasterFX class which handles this...

[2015-06-22 23:09] adcxyz commented on #179
for semantic clarity ;-)
nil could also be a variable that was not assigned by accident,
and then unexpected things would happen.

[2015-06-23 10:29] sensestage opened #219 "lookForNew in MKtl.new ignored"
BUG: lookForNew in MKtl.new was ignored, this caused always new device to be added upon initilisation

[2015-06-23 10:32] sensestage commented on #219
fixed via da72cb00164828d0db6cb8c1323809b34c42af01

[2015-06-23 10:32] #219 closed

[2015-06-23 10:33] sensestage opened #220 "MKtlLookup keeps adding new devices upon repeated initialisations"
[code]

[2015-06-23 10:34] sensestage opened #221 "MIDI - is not dealing with explicit sourcePortIndex and name"
[code]

[2015-06-23 10:35] sensestage opened #222 "srcID can't be an Array"
This is an issue in MIDIMKtlDevice, where this can happen when there is more than one port to a device; so we probably have to take the first one by default, and make explicit port selection possible again.

[code]

[2015-06-23 10:39] sensestage opened #223 "midi noteOnOff not working"

[2015-06-23 10:39] sensestage commented on #223
fixed via 9fc860434d02b297eb1689f7cc84636603b47448

[2015-06-23 10:39] #223 closed

[2015-06-23 10:39] sensestage opened #224 "polytouch not working: camelcasing in MIDI not consistent!"

[2015-06-23 10:40] sensestage commented on #224
fixed via 1a4a85a434e21784ebf388ddec12625f911bfde7

[2015-06-23 10:40] #224 closed

[2015-06-23 10:40] sensestage opened #225 "midi msg out \program was missing"

[2015-06-23 10:40] sensestage commented on #225
fixed via 7f61738c9b6dfe3412931f810c2450d3f6867194

[2015-06-23 10:40] #225 closed

[2015-06-23 10:41] sensestage opened #226 "ItemsSpec: with two values, the mapped values should be 0 and 1"
[code]

[2015-06-23 10:42] sensestage opened #227 "OSC trigger not working"
[code]

[2015-06-23 10:44] sensestage commented on #209
In MIDIFunc, the srcID cannot be an Array; they need to be explicit.

[2015-06-23 15:28] adcxyz commented on #222
for inputs, several inputs should be possible that can be done by giving the MIDIFunc nil as srcID,
and doing the matching for the array inside it. for outputs, we do have to know which one is the right one,
and put it in the desc file.

[2015-06-23 15:30] adcxyz commented on #218
OSCMonitor renamed in 06bbb5b313872d79f2d82ebe8b4a8ff18c552971

[2015-06-23 15:32] adcxyz commented on #209
yes, we can set it to nil, and match inside the midifunc.

[2015-06-23 16:22] adcxyz commented on #226
closed with 55b929062131aa03a96be3704aee4ae3ac9c031c

[2015-06-23 16:22] #226 closed

[2015-06-23 19:10] adcxyz commented on #218
except OSCMonitor exists in wslib, so roll back

[2015-06-23 21:12] adcxyz commented on #220
MIDIEndPoint now checks for equality, which should avoid multiple entries after rescanning.
Marije, please check on linux!
(still using arrays for now, need to think about simplest way to handle them)

[2015-06-24 06:40] adcxyz commented on #221
Actually this is even a bit trickier:
1. single device, single in, single out port - works
2. multiple devices of same product, each with single in, single out port :
* which in belongs to which out?
* if we do access by sourceIndex, destIndex, are these guaranteed to be in the same order?
* The MKtlDesc is the same object now for all instances of the same product,
   so the the which one to use m

[2015-06-24 06:46] adcxyz commented on #220
cleaned up some more details there, so should work fine now AFAICT.
please test on linux.

[2015-06-24 07:11] adcxyz commented on #227
[code]

[2015-06-24 07:11] #227 closed

[2015-06-24 08:02] LFSaw commented on #218
@woutersnoei , what's your take on this?

[2015-06-24 08:11] woutersnoei commented on #218
I'm for OSCMonitor in fact, indeed "Mon" sounds a bit vague. adc's OSCMon is much nicer than wslib OSCMonitor anyway, I'll remove or rename it there.

[2015-06-24 12:53] LFSaw commented on #220
@sensestage ?

[2015-06-25 21:06] sensestage commented on #222
But we want to be specific where the MIDI comes in; it might be that two different MIDI ports of the same device send the same commands on the same channel, but on a different port.

A more common case may be that we have several devices, which send the same kind of data via MIDI, and having srcID as nil would also catch the info from other devices.

[2015-06-25 21:07] sensestage commented on #222
Our original idea, btw, was to just have one srcID and one destID per MKtl description and then make a combined MKtl if a device has multiple, similarly as we would do for a device that has a MIDI and an HID interface.

[2015-06-25 21:09] sensestage commented on #220
with one small fix: 14388b9151f5d1eb6a212bd728f647c9e2649d81
it works now.

[2015-06-25 21:09] #220 closed

[2015-06-25 21:13] sensestage commented on #222
See: #162, #21, #129, #178

[2015-06-25 21:15] sensestage commented on #221
Our latest agreement in the Modality meeting was that for devices with more than one source or destination, we would have several description files, and combine them in one MKtl.

[2015-06-26 04:28] adcxyz commented on #222
Yes I remember, and I wonder whether it is better to keep that, or simpler to absorb multiple MIDI ports into a single desc file (semantically, because it is a single physical device).
Will try to rework MIDIExplorer soon to see better what actual multiport devices use the different ports for, in order to understand how best to support that.

[2015-06-26 04:31] adcxyz commented on #162
would be helpful to have a list of all the actual devices concerned among the devices we currently support.

[2015-06-26 08:13] LFSaw commented on #218
reverted reverted commit, so now it is called ```OSCMonitor```.

[2015-06-26 08:13] #218 closed

[2015-06-28 13:16] LFSaw commented on #168
still, would be good to be able to have a method to list all supported devices... altered the subject of the issue accordingly.

[2015-06-28 14:52] adcxyz commented on #168
There is one:
MKtlDesc.postLoadable
MKtlDesc.postLoaded
so close this one?

[2015-06-28 20:20] LFSaw commented on #168
super!

[2015-08-24 18:04] adcxyz commented on #21
// new support for multiport midi devices:  srcID CAN be an array now ;-) 4e3ac4b
one can tell the MKtl which portIndex to listen to and to send to.

[code]

[2015-08-24 18:05] LFSaw commented on #21
I concider this issue closed, multi-(MIDI)device for one hardware device is discussed in issues #222

[2015-08-24 18:05] #21 closed

[2015-08-31 09:42] LFSaw opened #229 "merge MKtl_refactor_test2 to master"
As there is a _lot_ that happened in MKtl_refactor_test2, as well as in master, I suggest the following:

[code]

[2015-08-31 09:54] LFSaw commented on #222
In the to-be-merged MKtl_refactor_test2 branch, we fixed this issue by allowing to set the following parameters:

[code]

This is currently only implemented for MIDI, since we assume this to be a MIDI-only issue.
In the future, it should be possible to combine those MKtls into a composite MKtl.

[2015-08-31 13:31] sensestage commented on #222
similar case happens for OSC; the application could be sending from a different port than it listens to.

[2015-08-31 13:33] sensestage commented on #222
In the solution, is it possible to define the portIndex in the description file? I think this is essential - we want the device to be defined in the description file - not in user code.

[2015-08-31 13:38] sensestage opened #230 "are collectives working again?"
This is essential for many OSC usecases.

[2015-08-31 13:39] sensestage opened #231 "what is the status of MKltGUI?"

[2015-08-31 13:40] sensestage opened #232 "Documentation update"
We need to ensure that a similar set of helpfiles on how to create a description file, cookbook examples, etc. work with the new branch

[2015-08-31 13:40] LFSaw commented on #222
send and receive are completely separated.

not for now but it is certainly possible to add a flag for that.
However, I'd like to first make the merge/move of the refactor2 branch to master before investing more time and effort in new ideas and features.
My approach would be to make small steps instead of large ones and try to keep everyone involved.

[2015-08-31 16:40] LFSaw commented on #230
short answer: not yet.

long answer:

As I understand, collectives never really worked flawlessy in all possible scenarios. So this needs more discussion and careful planning (and implementation).
Before investing more time and effort in new ideas and features, I'd like to first make the merge/move of the refactor2 branch to master
As it seems that there are currently mainly two people involved in

[2015-08-31 16:40] LFSaw commented on #232
things are quite straight forward.
I'll have a look at it after switching the master branches.
Please feel invited to do the same.

[2015-08-31 16:41] LFSaw commented on #231
should just work... @adcxyz ?

[2015-09-01 07:34] adcxyz commented on #231
short answer: yes.

long answer:

// here is a test:
MKtlDesc.loadDescs;
MKtlDesc.allDescs.size;  // 47

MKtlDesc.allDescs.do { |desc|
	try { MKtl(desc.fullDesc.filename, desc) } { desc.postln } }; "";

MKtl.all.size; // 47

n = 0;
MKtl.all.do { |mk| try { mk.gui; n = n + 1 } { mk.postln } };
n // 47

Looking at them and trying them, they seem all  ok and functional.

Some of the handwritten desc

[2015-09-01 07:39] adcxyz commented on #222
in the sektch I just committed, we tried putting all elements for all ports in one big desc.
this means you choose by index from the full desc of the device in user code.

we also saw that there are other complexities that will make that approach hard to finish,
so we will go back to single-port desc files. some design questions here remain,
mainly how to organize the files; will ask those in sepa

[2015-09-01 19:18] LFSaw commented on #231
Actually, we just remembered that the new GUI is not (yet) accessible via ```Mktl.gui```, so the example code is:

[code]

[2015-09-01 19:18] #231 closed

[2015-09-01 19:19] LFSaw commented on #230
implemented and tested in a5f7a1c.

[2015-09-01 19:19] #230 closed

[2015-09-01 19:21] LFSaw commented on #222
single-port desc files are introduced in 97ed9b5

[2015-09-01 19:25] LFSaw opened #233 "single-port MIDI descs share global information"
this leads to potential irregularities between different ports.
A possible solution to this is to introduce a hierarchical desc-file system:

[code]

other ideas are welcome, however should be implemented in a separate branch _after_ the merge of refactor2 to master.

[2015-09-01 19:26] LFSaw commented on #222
for the refactor2-branch, we consider this issue closed, however, there are other issues emerging that are now in a new issue: #233

[2015-09-01 19:26] #222 closed

[2015-09-01 19:28] LFSaw opened #234 "It should be possible to combine MKtls"
see #221 for reasons.

[2015-09-01 19:29] LFSaw commented on #221
yepp, done with commit 97ed9b5, merging to be done later #234

[2015-09-01 19:29] #221 closed

[2015-09-01 21:30] adcxyz commented on #233
the advantage of that would be NOT copying global info on the device between multiple files, which always goes out of sync.

[2015-09-01 21:32] adcxyz commented on #234
yes, we should look at the composite MKtl example again and turn it into classes/methods, so one can just say MKtl.compose(\xyz, MKtl(\x), MKtl(\y), MKtl(\z));

[2015-09-01 21:33] adcxyz commented on #232
I did half of the How to ... OSC ... file already, happy if others take the other files.

[2015-09-01 21:34] adcxyz commented on #229
thanks for figuring that out, sounds like a very good way to go!

[2015-09-01 21:36] adcxyz commented on #214
any new suggestions for this one, or is the first pass good enough for the 0.90 release?

[2015-09-01 21:38] adcxyz commented on #211
maybe not worth holding up the 0.90 release for it, so moved to later/optional.

[2015-09-01 21:39] adcxyz commented on #195
I believe scott added more support for obscure midi messages, so does someone who knows about them and needs them want to finish them? if not, move this to later/optional?

[2015-09-01 21:42] adcxyz commented on #190
hardware paging could now be moved to multiple desc files if desired:
deviceXYZ_preset1.desc.scd
deviceXYZ_preset2.desc.scd
etc.
how do we want to best pursue this?
is this needed for 0.90?

[2015-09-01 21:44] adcxyz commented on #185
I think this is done, please reopen or fix if not.

[2015-09-01 21:44] #185 closed

[2015-09-01 21:48] adcxyz commented on #170
what was this? adding new groups of existing elements based on semantic connections (e.g. channel groups on faderboxes)?

[2015-09-01 21:49] adcxyz commented on #161
this is done in MKtlGUI now, no?

[2015-09-01 21:49] #161 closed

[2015-09-01 21:50] adcxyz commented on #127
any news on this one?

[2015-09-01 21:55] adcxyz commented on #123
the new concept of splitting descs per MIDI-port can also be used for dealing hardware pages, first example being the qunexus presets AB, C, D. It actually seems very nice to have an MKtl for each page, and organize their modal functionality separately rather than together.

[2015-09-01 21:57] adcxyz commented on #31
any news on this one? still a problem? needed for 0.90?

[2015-09-01 21:59] adcxyz commented on #102
ok, this seems to be one of the crucial things to finalize next.

[2015-09-02 07:50] LFSaw commented on #233
Just came to my mind that, in case of *reading in* the files, the more specific one's are more significant than the one's sharing global information. much like ```.h``` and ```.cpp``` files, where the headers are possibly linked to multiple files whereas the source files contain the actual information.

This'd mean we'd rather have a tructure like this:

[code]

and one of the page descs contains

[2015-09-02 07:55] LFSaw opened #235 "assign OSC-provided timestamps to MKtlElement:lastUpdateTime"
we should get precise timing when it is available since we do not know how much time passed between arrival and (network)stack processing.

[2015-09-02 07:55] LFSaw commented on #214
I think it is good enough. I added a new issue about this at #235

[2015-09-02 07:55] #214 closed

[2015-09-02 08:05] LFSaw commented on #123
there's already a semantical way to mark on which page an element is located. AFAI remember, it was implemented by @woutersnoei for MKtlGUI.
A prominent use case is the [LaunchControl XL controller](https://github.com/ModalityTeam/Modality-toolkit/blob/master/Modality/MKtlDescriptions/novation-launchcontrol-xl.desc.scd) in which you can toggle between pages:

<img width="620" alt="screen shot 2015

[2015-09-02 08:06] LFSaw commented on #102
yes.

[2015-09-02 08:15] LFSaw commented on #170
I think, this means that it is possible to create your own custom groups:

[code]

[2015-09-02 08:18] LFSaw commented on #190
closely related to #123

[2015-09-02 17:57] adcxyz commented on #112
They are now specialMessages with names, which seems safer.
How should we provide a method to send specialMessages?
On OSC it would just be destination.sendMsg(...)
On MIDI is it always sysex messages ?
On HID, is there anything like this ?

[2015-09-02 18:06] LFSaw commented on #229
I did the merge now with two alterations:

1. I did not do a branch but a Tag of the old state of master: https://github.com/ModalityTeam/Modality-toolkit/releases/tag/altMaster-pre09
2. I had to manually reset to pre-branch ( ee1f38a ) and merge MKtl_refactor_test2 (  	d575e55 )

however, everything is now in working condition.

[2015-09-02 18:16] #229 closed

[2015-09-02 18:16] #183 closed

[2015-09-04 08:45] adcxyz commented on #209
more progress here, not finished yet:
MKtlLookup now first sorts all ports/devices by idInfo into one item in midiAll;
then transfers single-device/single port ones to MKtlLookup.all for use.
items with multiple sources/dests are then split by whether the port name are identical
(-> several identical devices) or not (one device, multiple ports) or both.
Not done yet:
matching with multiple MKtlDes

[2015-09-04 08:53] adcxyz commented on #48
new example for soft paging in cookbook:
https://github.com/ModalityTeam/ModalityWorkshop/blob/master/cookbook/soft_paging/paging_MKtls.scd
[code]
could be built into a lightweight container class for multiple MKtls that does the switching and little else.
Please comment whether this is a good way to go!

[2015-09-04 09:01] adcxyz opened #236 "HIDMKtlDevice and its HID should be decoupled for flexibility"
in the new soft paging concept (see issue #48), multiple MKtls are used as software pages for the same physical controller. this works with MIDI and OSC, but not immediately with HIDs:
The MKtl's element actions are put into the HID inside the mktlDevice, which makes its use less flexible.
One way around this would be using the HID object only as an information container (so it can be shared by mu

[2015-09-04 09:06] adcxyz commented on #236
code sketch showing the idea:
[code]
With such a solution, multiple MKtls can listen to the same physical HID, and can be dis/enabled simply by turning their HIDFuncs on and off.

[2015-09-04 09:18] miguel-negrao commented on #48
For 2 pages it looks quite simple, nice ! For more pages, I guess some wrapping logic would be needed. What about resetting the control (GUI slider, motorized MIDI, OSC) on a page change ?

[2015-09-04 12:20] adcxyz commented on #48
sure, resetting devices with output would make sense.
A little class that handles multiple pages shoudl do that :-)

[2015-09-04 17:34] adcxyz commented on #48
MKtl.enable now sync-sets values to device.

[2015-09-04 18:41] adcxyz commented on #202
actually not necessary. currently \spec is a required key to distinguish dicts which describe elements from dicts which are groups of elements.

[2015-09-04 18:41] #202 closed

[2015-09-04 19:30] adcxyz commented on #199
still similar in MKtlGUI.
A silly little sketch for entertainment:
[code]

[2015-09-04 19:32] adcxyz commented on #18
is this bug still present or is it solved/solvable now?

[2015-09-04 20:29] adcxyz commented on #111
FYI -
this is moved now to specialMessages:
One can keep as many named specialMessages in the desc as one wants,
and can send them with MKtl.sendSpecialMessages(name);
should work for the two known devices (nanokontrol2 and Manta),
Not needed  for HID AFAICT.
This should prevent accidental user confusion;
and one can always add the one line to one's setup script.
[code]

[2015-09-04 20:45] adcxyz commented on #72
and also in the cookbook :
https://github.com/ModalityTeam/ModalityWorkshop/blob/master/cookbook/derived-elements/derived-elements-mfunc.scd

[2015-09-04 20:45] #72 closed

[2015-09-04 20:46] adcxyz commented on #31
can someone test this, with a launchpad or other device that needs it?
moving this to 0.9.5 as it does not seem a showstopper for 0.9.0

[2015-09-04 21:08] adcxyz commented on #112
OK, on MIDIOut.help I cannot verify that sysex is working.
Can someone test this please?
Thanks!

[2015-09-04 21:19] adcxyz commented on #190
added an entry for hardwarePages to all devices that have them, so one can ask the desc about it.
e.g. nanokontrol
(
hardwarePages: [1,2,3,4]
...
)

[2015-09-04 22:57] adcxyz commented on #232
OSC file done by now, MIDI file 90%, sourcePortIndex still to finalize.

[2015-09-05 13:48] adcxyz commented on #233
completely agree, makes sense to have them hierarchical.
It just makes the file reads/lookups a bit more complex.
I'd like to finish the flat reading of files and matching with different portIndices first,
then move to the better clearer org.

[2015-09-05 17:50] adcxyz commented on #233
It was easier to do the hierarchical files first, see 34960e6

[2015-09-07 14:34] adcxyz commented on #234
started on simple MKtlComp class with dcfde6d

[2015-09-07 14:35] adcxyz commented on #233
34960e6 closes this issue.

[2015-09-07 14:35] #233 closed

[2015-09-08 19:01] adcxyz commented on #209
MIDIMKtlDevice by design choice now listens to only one src/dest port (finished with c1c2058 ),
so supporting multiple ports in single MKtl should be done with CompMKtl.

[2015-09-08 19:01] #209 closed

[2015-09-09 10:41] adcxyz commented on #236
a simpler first step to make HID polyphonic:
in HIDMKtlDevice:open,
first find out if this HID is already open,
if yes, use the existing one,
if no, make a new one.
In initElements:
create the exact element actions + trace (in hidele.action = ...) first,
politely add them to hidele.action with addFunc, i.e.
hidele.action = hidele.action.addFunc(newaction);
then keep these actions in vars so one ca

[2015-09-09 10:43] adcxyz commented on #184
this could be useful for per-channel monophonic voicers.

[2015-09-09 10:46] adcxyz commented on #48
opinions please - is this good enough already for 0.9.0?
if so, we can close this one

[2015-09-09 11:29] miguel-negrao commented on #48
sorry can't test at the moment, but from what you describe it seems like it has the needed functionality. I say you can close it.

[2015-09-10 09:19] adcxyz commented on #48
ok, closed.

[2015-09-10 09:19] #48 closed

[2015-09-11 11:18] adcxyz commented on #137
updated example, is good enough for 0.9.0 - keeping issue for next release

[2015-09-11 11:43] adcxyz commented on #190
added page value to elements in all devices with hardware pages, so close with 3ccc819

[2015-09-11 11:43] #190 closed

[2015-09-11 11:45] adcxyz commented on #123
I think pages are represent well now, both within single descs (nanokontrol), as well as per hardware page, as in QuNexus. closing with 3ccc819.

[2015-09-11 11:45] #123 closed

[2015-09-11 16:00] adcxyz commented on #173
added deviceType and elementTypes to all descs,
so this is closed with c358ccf.

[2015-09-11 16:00] #173 closed

[2015-09-11 16:06] adcxyz commented on #144
added valueType: \relative to all mouse descs, so the info is present.
I am not convinced that accumulating values in derived elements is useful;
it is more flexible to do that in the destination controller, which has its own state
already, and set its value only with RelSet.
closed with 5e02afe.

[2015-09-11 16:06] #144 closed

[2015-09-12 08:52] miguel-negrao opened #237 "name clash OSCMonitor"
OSCMonitor is in wslib since 2011, OSCMonitor was added to modality in 2015. It is not unlikely that people (i.e. me, @woutersnoei , anyone using Unit Lib) will use Modality and wslib at the same time. Since the version in wslib is older, I would suggest renaming the version in Modality. Unfortunately, SuperCollider doesn't have namespaces to avoid these problems...

[2015-09-12 11:20] woutersnoei commented on #237
Hi Miguel, thanks for noticing, we discussed this already at the Kopenhagen sessions, and agreed that I will change the name of OSCMonitor in wslib. Will do so soon (may need to figure out where to update my quark these days).

[2015-09-12 14:04] miguel-negrao commented on #237
Great ! Your quark is here: https://github.com/supercollider-quarks/wslib

[2015-09-12 18:11] adcxyz commented on #90
OK, some more considerations about this one:
* naming:
this actually concerns buttons and switches, so good names would be:
[code]
-> All descs should have indications for momentary buttons,
so their actions can be built accordingly automatically.

Then there is difficulty for momentary GUI buttons: One can only hold down a single button at a time! But for really testing device behavior from a GUI

[2015-09-12 18:37] adcxyz commented on #163
I just tested this again with virtual LPD8 and extreme3dpro,
and it was a problem in the desc file:
[code]
would be good to go through all descs for this possible glitch - any volunteers?

[2015-09-12 18:37] #163 closed

[2015-09-12 18:38] adcxyz commented on #165
are there any other cases than the OP1?

[2015-09-12 18:50] adcxyz commented on #90
The second half of this is missing of course:

For elements that physically return to a specific value (e.g. springed joyAxis),
elementDescs should have a value for snapback called e.g.
(snapbackValue: 0) that the element returns to on mouseUp when in momentary mode.
this means that sliders and/or knobs should have a momentary mode too;
For full testing, here we also need to have a \hold mode to s

[2015-09-12 20:22] #90 closed

[2015-09-12 20:23] adcxyz commented on #90
[code]

[2015-09-12 20:27] adcxyz commented on #237
I would not mind going back to OSCMon, MIDIMon etc ;-) see #218.

[2015-09-13 17:16] adcxyz opened #238 "desc file format final redefinition - proposal"
Dear all,

please read the and comment on the 4 files in:
https://github.com/ModalityTeam/Modality-toolkit/tree/master/Modality/discussion/redef_proposal

Of the currently open issues, 9-12 involve the desc file conventions and propose redesigns, unification,s standardizations. I read them all and tried to integrate them as fully as possible into a new set of conventions based on the things propos

[2015-09-14 09:30] adcxyz commented on #238
Bit more explanation:
Actually, 90 percent of it is definitions/conventions only,
which are all based on maximum clarity of names - e.g. IMO
deviceName is always the name of the device, whether tech or user-given,
idInfo is always exactly the info needed to identify a device,
     (which can be just the deviceName, but can also be a dict)
deviceType is clearer than type,
elementType is clearer tha

[2015-09-14 09:33] telephon opened #239 "GeneralHID: basic examples fail and throw misleading error"
This is a bit of a show-stopper for Modality, so I added it here – we are about to release 3.7.0 and it would be nice to have this up and running, no?

https://github.com/supercollider/supercollider/issues/1304

[2015-09-14 10:38] adcxyz commented on #238
In current master everything BEFORE this redesign already works and can be tested,
so I will try to get this redesign working in branch desc_redef.
You are highly welcome to help :-)

[2015-09-15 08:34] adcxyz commented on #239
In current 3.7 GeneralHID is removed already, so I think this is solved - Modality is best for 3.7 onward, not sure how much backward compatibility toward 3.6 etc we even want.

[2015-09-15 09:19] adcxyz commented on #131
an idea for this: an ElementGroup consisting of 2 or 3 elements, one each for \noteOn and \noteOff, and maybe polyTouch could be recognized as one semantic unit, and one gui.
In the proposed new notation scheme, something like:
(
// ...,
elementsDesc: (
	// 8 pads with noteOn/noteOff
	(36..43).collect { |num, i|
		(
			shared: (elementType: \pad, midiChan: 0, midiNum: num, spec: \midiNum),
			elem

[2015-09-16 10:29] bhabbestad commented on #238
Great work Alberto

this seems pretty clear, regarding naming conventions, I find its easy to follow the logic
of these adaptions.

I also checked this one out:
https://github.com/ModalityTeam/Modality-toolkit/blob/master/Modality/discussion/desc%20file%20info.md

and it seems that we forgot the piano-keyboard vs laptop keyboard distinction.

I cannot remember what we decided on - MIDIKeyboard vs

[2015-09-16 16:49] adcxyz commented on #131
Btw, the same thing goes for joysticks - an elementsDesc with a joyAxis \x, joyAxis \y and and a \hatSwitch could auto-create an ElementGroup that knows how to draw itself as a joystickgui with 3 elements, as suggested in #217. roughly like this:
[code]

[2015-09-16 17:03] adcxyz opened #240 "enable/disable elements/groups at all levels"
There should be a simple interface to enable/disable MKtls and Elements at every level:
single element, elementGroup, collective, other semantic group, entire MKtl.
I would suggest
MKtl(\x, ...)
// already implemented:
MKtl(\x).enable;   // en/disables responders
MKtl(\x).disable;
// these could just be with an <enabled flag in every element?
MKtl(\x).elementAt(\pad).disable;
MKtl(\x).elementAt(\p

[2015-09-17 21:12] adcxyz opened #241 "support MIDI hardware connected through interfaces?"
Hi all,
to what extent do we want to support MIDI hardware without USB (say a master keyboard or faderbox)
which is connected through MIDI plugs on a MIDI interface?
For that case, we would need desc files that describe just the MIDI device elements, but without an idInfo. On making that device, we would have to supply the idInfo from the interface's USB port, e.g. from a Fireface MIDIIn port that

[2015-09-17 21:14] adcxyz commented on #239
no one seems to object, so I close this one.

[2015-09-17 21:14] #239 closed

[2015-09-17 21:53] adcxyz commented on #232
ok, MIDI, OSC, HID How to files done now for current desc format. (still using ```description:```, not yet ```elementsDesc: (elements: )```

[2015-09-17 22:11] adcxyz opened #242 "make monophonic MIDI groups"
for monophonic keyboard uses, there should be Voicer-like ElementGroups and MIDIFuncs:

* MIDIFuncs listen to whole channel (or given range of numbers)
on noteOn:
* if no held note, do startfunc (e.g. start synth/proxy)
* set note value to latest noteOn
* set amp value to latest velocity value
* keep noteOn notes in order of arrival
on noteOff:
* remove released note from held notes
* when latest

[2015-09-17 22:12] adcxyz commented on #242
same structure x 10 could also go into multi-mono MIDI channel polyphony
as used in qunexus and roli seaboard.

[2015-09-23 15:19] miguel-negrao opened #243 "MIDI error"
I tried the master branch and immediately get an error:

without  a nanokontrol I tried

[code]

[2015-09-29 10:30] #243 closed

[2015-09-29 10:31] adcxyz commented on #243
thanks for reporting.
you found a corner case where there is only a single MIDI source - MIDIEndPoint("SuperCollider"...)
and multiple outs, which never occurred to me yet.
Please retest (on linux ?) after 2c5c188.

[2015-09-29 10:36] adcxyz commented on #238
Does anyone else have any opinions on this?
Or should I just go ahead?

[2015-09-29 12:23] adcxyz opened #244 "MKtlLookup should find all descs that fit for a registered device"
[code]

[2015-09-29 15:35] adcxyz commented on #244
closed with 74e7e42

[2015-09-29 15:35] #244 closed

[2015-09-29 15:47] adcxyz commented on #244
post for MKtl.find(\midi) now looks as below - hope this is clear enough?
[code]

[2015-10-02 19:26] adcxyz commented on #238
hi bjoernar,
thanks for the reminder, I did add \midiKeyboard and \hidKeyboard to deviceTypes now.
maybe not elegant, but at least very clear.

[2015-10-02 21:14] adcxyz commented on #236
[code]

[2015-10-04 11:13] adcxyz commented on #200
moved to Nov 1.

[2015-10-04 20:32] adcxyz commented on #103
"since will have more or less the same elements, regardless of vendors."
does this also mean they will have the same button numbers etc?
In any case, this should be easier now with parentDesc files.
they could be made to inherit the description as well,
and then only overwrite the things that are different from the defaults.

[2015-10-04 21:06] adcxyz commented on #102
updated redef proposal following marijes suggestions in ba725da

[2015-10-07 13:51] LFSaw commented on #236
```MKtl('x').elementAt(\bt, 5).disable; // alternative syntax for enable/disable```

[2015-10-09 21:21] LFSaw commented on #241
I'd appreciate this.

[2015-10-09 21:31] LFSaw commented on #238
this is really excellent, thanks @adcxyz !
Today, I read this: https://en.wikipedia.org/wiki/Continuous_integration#Best_practices on development and I had this idea that we should somehow be able to make this change of desc-files _not_ in a big block but rather in small steps... such that the integration does not become a nightmare as we had it before with the re-factor branch.

It might be worth

[2015-10-09 22:39] bhabbestad commented on #241
I second that.

b

10. okt. 2015 kl. 00:21 skrev LFSaw <notifications@github.com>:

[2015-10-10 12:57] LFSaw opened #245 "allow multiple OSC-MKtls from same netaddr"
This is especially needed for (communication) devices that are serving for multiple controllers/actuators.
A good example are the SenseStage miniBees:

[code]

[code]

[2015-10-11 09:15] adcxyz commented on #238
yes, absolutely for smaller steps. The refactor would have been a lot less headache if that had been doable!

+ when changing names in elements for better ones, one can implement/update and use:
[code]
+ when changing names in descs generally for better ones, one can implement/update and use:
[code]
+ when redoing hierarchy for elementGroups, one can implement
[code]

[2015-10-11 09:23] adcxyz commented on #245
General answer -
That shows an issue that arises in OSC/MKtl
+ we do not know beforehand which devices are there
(unless they are sending already and OSCMonitor finds them and identifies them, which does not happen ATM)
+ we do not know beforehand what the NetAddresses will be, so we cannot use
them in the descfile idInfo entry to find the actual device(s).
The way this is handled now is that you

[2015-10-11 09:51] adcxyz commented on #245
Specific answer:
what goes wrong here is that the existing first xbee is tested by MKtlLookup,
and that fails because the entry there does not to have the info needed to identify it yet.
this should have happened in MKtlLookup.addOSC.
however, a problem with that is that keys are made for the (dummy) netaddresses
given in the desc files, and these are tricky to change after the fact.
That actually

[2015-10-11 09:54] adcxyz commented on #238
One more thought  - would be good if the implementation and the automated tests for these are done by different people. Any volunteers?

[2015-10-11 10:01] LFSaw commented on #245
Thanks for the quick fix, will try later today.

I think this is the preferred way... however it is very hard to come up with a robust alternative... there's nothing one can get from an OSC device. But this might mean that we can as well use the ```deviceName```, right?

[2015-10-11 15:43] miguel-negrao opened #246 "MKtl, MIDI not working (on linux ?)"
Latestest from master, supercollider recent from master, linux:

I have my BCR and nanokontrol connected:

[code]

then I try
[code]

What  ?? I only have one nano...

[code]

No errors now, but doesn't post anything.

MIDIFunc.trace posts output from either controller...

[2015-10-11 17:47] LFSaw commented on #246
Hello @miguel-negrao and welcome back :)

it says

[code]
which means that there are multiple devices you could've meant ("nanokontrol", "nanokontrol2").
But I just tested with my very own NanoKontrol (same game) here on my OSX machine and it "just works"... have no idea why this is happening.

@adcxyz ?

[2015-10-11 18:20] adcxyz commented on #246
nice to hear from you again, miguel !

* how come you have 11 MIDI in outs ?
this is a tough case for the MIDI IO matching algorithm
- I only tested with about 4-5 IOs, and they always matched up nicely in osx...

* what happens if you connect just the nanokontrol2 and nothing else?

* background:
```multiple device candidates found``` comes from MKtlDevice:open,
which detects whether multiple att

[2015-10-11 20:29] adcxyz commented on #245
Finding the proper desc (which is one of the issues here) is IMO best done by deviceName alone, so should be changed to that. Exception - sending devices from localhost (e.g. aManta), keep the same address always.

Identifying individual sending osc devices only works by netaddress data, otherwise they are indistinguishable, no? So that id strategy is OK until they accidentally get a new address;

[2015-10-11 20:31] adcxyz commented on #245
// As an update to Tills example starting this issue,
// here is a working example for making two minibees and distinguishing them:
(
~bee1 = MKtl(\bee1, "*minibee1");
~b1addr = NetAddr("192.168.100.105", 54615);
// update with the address as seen in OSCMonitor or OSCFunc.trace:
~bee1.mktlDevice.updateSrcAddr(~b1addr.hostname, ~b1addr.port);
)

// func for faking OSC message from a given NetAddr:

[2015-10-12 09:25] LFSaw commented on #245
Thanks for this, @adcxyz . you got my example slightly wrong, though:

The two minibees are coming from _the same_ NetAddr/Port configuration and are only separable by their ID in the OSC message (```/minibee/data [id] [d1] ... [dN] ```).
So this is why I built two descriptions, one to be made with

[code]

one with

[code]

Does this change anything in your code?

[2015-10-12 10:08] LFSaw commented on #245
to answer my question: yes it does, apparently:
This is now sufficient:
[code]

[2015-10-12 14:44] adcxyz commented on #245
if they come from the exact same NetAddr and use the exact same message names, you can still distinguish them if they have different hardware IDs that they send in the message; by *setting* the ID in argTemplate, as in the end of the example, you do exactly that.

[2015-10-12 22:23] adcxyz commented on #246
linux questions @marije:
midi ins and outs can have the exact same uid?
(MIDI-through, nanokontrol and BCR ports 1 and 2) on osx they are all different.

should MKtl only be looking at externalSources and externalDestinations?

[2015-10-12 23:16] #246 closed

[2015-10-12 23:19] adcxyz commented on #245
so does 5d53c47 fix this bug for you?

[2015-10-13 10:13] adcxyz commented on #246
Todo here:

* generated indices (midi_1_etc...) are not consistent, figure out how they are as clear as possible
* when unequal number of ins and outs, splitMidi gives up and lists them separately.
-> write an example how to put 1 src 1 dest together by hand into one entry in MKtlLookup.all,
so one can then make a single MKtl from that entry.

[2015-10-13 11:03] adcxyz commented on #246
or maybe clearer:
when the srcs and dests collected for a given devicename are unequal numbers,
instruct user to finish the sorting / matching by hand, and help by posting example code.

[2015-10-13 20:11] adcxyz commented on #245
fixed and tested with cdf146d

[2015-10-13 20:11] #245 closed

[2015-10-13 20:51] adcxyz commented on #178
it seems no one objects to deviceType, it is implemented, and all the other little issues here are done, so I close this.

[2015-10-13 20:51] #178 closed

[2015-10-13 20:58] adcxyz commented on #146
actually since we can rebuild MKtls flexibly from descs/dicts, adding elements to the basic element hierarchy has become unnecessary. Creating additional groups of existing elements and derived elements is also easy already, and they can be added to collectives until there is a final design for free groups.

[2015-10-13 23:25] #170 closed

[2015-10-13 23:27] adcxyz commented on #146
based on above reasoning, closing this for now.

[2015-10-13 23:27] #146 closed

[2015-10-13 23:30] adcxyz commented on #238
Still waiting for people to read the four proposal files and comment ...

[2015-10-14 09:55] adcxyz commented on #171
marije: Some function that goes through all device descriptions and lists possible elements:
[code]

[2015-10-14 11:29] #171 closed

[2015-10-14 11:31] adcxyz commented on #171
actually made sense to do it now, will need minimal touchup when #238 is done.

[2015-10-14 15:13] #240 closed

[2015-10-14 15:22] adcxyz commented on #139
wondering now how useful having presets of controller state is:
what is a use case where one would want to save and recall the state of an elementGroup?
it seems that usually the interesting state is in the controlled objects themselves,
not in the controllers, or am I missing something?

[2015-10-14 15:24] adcxyz commented on #102
closed with 304842d

[2015-10-14 15:24] #102 closed

[2015-10-14 15:40] bhabbestad commented on #139
I think this stems from me.

What I suggested is that we should have the opportunity to easily freeze, store and later manage/sort  the incomming data from controller(s) in order to
store for later use, a feature I think is usefull both in performance and in development situations.

I know that this can be done in many different ways and at different levels, but I think there should be a modality-

[2015-10-14 18:32] adcxyz commented on #139
ok thanks, makes sense - just did a simple example for your use case, in ef8abe2.
hope that works for what you had in mind,
best a

[2015-10-15 22:32] adcxyz commented on #242
Sketched MChanVoicer class in 42d2041. Needs full testing, then figure out how to auto-create it from am desc file...

[2015-10-15 22:53] adcxyz commented on #234
updated CompMKtl in 42d2041.
CompMKtl will likely want more of the MKtl interface - waiting for suggestions and use cases.

[2015-10-15 22:53] #234 closed

[2015-10-15 23:06] adcxyz opened #247 "update desc file generation by MIDIExplorer et al"
desc files as generated by e.g. MIDIExplorer could be more complete:
example text for all the entries now recommended,
and probably assocArrays instead of dicts so we can maintain a desired order of elements.
(
idInfo: "___",
...
description: [
    'key_1' -> (elementType: ... , ...),
    'key_2' -> (elementType: ... , ...),
]
)

[2015-10-16 10:51] #140 closed

[2015-10-16 11:01] adcxyz commented on #24
this should not hold up the 0.9.0 release, so I move it to 0.9.5

[2015-10-16 11:06] adcxyz commented on #232
Can someone please go through the existing documentation to create two lists:
* list of docs that need updates
* list of which topics still need documentation, plus suggestion which/how?

[2015-10-16 12:48] adcxyz opened #248 "update supercollider quarks for Modality"
I think SC should know about 3 Modality repos as Quarks:

Modality-toolkit
ModalityWorkshop
ModalityTests

I guess we can drop Modality 3.4.4 compat?

Can someone with access to supercollider-quarks [Till, Miguel] please update?

[2015-10-16 13:08] LFSaw commented on #241
I deleted my assignment and moved the milestone release to 0.9.5

[2015-10-16 20:22] LFSaw opened #249 "fix behringer BCF2000 BCR2000 re: new description design"
change description to reflect new style of semantics (hat switch etc.).
See OP1 desc file for guidance.

( @miguel-negrao I assigned you because you have one at your fingers, right? )

[2015-10-16 20:45] LFSaw commented on #248
done with https://github.com/supercollider-quarks/quarks/commit/53f94f751042da3b6c528941f56c086d0978387b

[2015-10-16 20:45] #248 closed

[2015-10-16 20:47] LFSaw commented on #240
wow. impressive. thanks!

[2015-10-16 20:47] LFSaw commented on #243
would be great if @miguel-negrao could test this and report back.

[2015-10-16 20:49] LFSaw commented on #237
@woutersnoei , could you rename your class, please?

[2015-10-16 20:50] LFSaw commented on #173
"Fleissarbeit..." wow. again.

[2015-10-16 20:53] LFSaw commented on #18
@sensestage ??

[2015-10-16 21:03] adcxyz commented on #112
@sensestage: would be nice to have this done for 0.9.0
- any ideas how to fix this?

[2015-10-16 21:13] adcxyz commented on #238
name changing mostly done by now, so of tills three points, there remain:
* hierarchy for elementGroups
* desc file templates
I can try getting the elementGroups redefined in redef branch next.

[2015-10-16 21:15] adcxyz commented on #248
well that was quick, thanks!

[2015-10-16 21:24] bhabbestad commented on #248
wow, guys, this is reaaly great work for a friday night!
its inspiring to see the progress :-)

and I wonder if we need to find a way to have another meeting to summarize
the changes and procedure, a best-practice-type situation, when 0.0 is ready and well.

tijs?

any news on the festival?
b.

16. okt. 2015 kl. 23:15 skrev Alberto de Campo <notifications@github.com>:

[2015-10-16 22:39] LFSaw commented on #238
[code]
this should maybe reflect the file naming convention

[code]

?

[2015-10-16 22:41] LFSaw commented on #238
[code]
the term ```value``` is a bit misleading... maybe something like ```sharedInfo```?
not really happy with this one either... suggestions?

[2015-10-16 22:47] LFSaw commented on #238
[code]

this will basically break json-compatibility. why is an ordered association array needed here?

[2015-10-16 22:48] LFSaw commented on #238
[code]

naming...

[code]
?

[2015-10-16 22:50] LFSaw commented on #238
[code]

This seems to me like just-in-case programming :)

[2015-10-17 10:00] miguel-negrao commented on #249
I will have time to look at this and the other issue next week.

[2015-10-17 11:00] sensestage commented on #112
I don't have a device that needs this (or at least none where the message
format if figured out); but Tijs should be able to test with his
NanoKontrol2.

On Fri, Oct 16, 2015 at 11:03 PM, Alberto de Campo <notifications@github.com

[2015-10-17 11:04] sensestage commented on #18
It can be tested with the Ferrari Gamepad - the rumble outputs.
I cannot fix it on OSX, it is deeper down in the Apple HID drivers. We need
to bug Apple about it...

On Fri, Oct 16, 2015 at 10:53 PM, LFSaw <notifications@github.com> wrote:

[2015-10-17 11:59] bhabbestad commented on #18
who has got the best way in?

b

[2015-10-17 12:29] adcxyz commented on #238
yes it does.
seemed to make sense to have any extra text info semi-out of the way,
but fine with me to drop that. it is not used for anything programmatically anyway.

[2015-10-17 12:50] adcxyz commented on #18
Apologies, but I still have no idea - What exactly is "the same bug" please?

Some reverse guessing :
* On OSX, HID does not report all the elements properly - Y/N?
* It is always only HID output elements that are concerned - or others too?
* On the Ferrari gamepad ("thrustmaster-run-n-drive" and -wireless), the bug shows -
** there should be two rumble output elements, but there is only one? or n

[2015-10-17 13:07] sensestage commented on #18
With the Ferrari, there should be two rumble outputs; on OSX two are
reported, but one is wrongly reported and therefor cannot be used. This is
a bug in the HID descriptor parser that is happening in the OSX closed
source backend.
I don't know if the other HID's are also affected.

Testing it is as simple as:
opening the device, create a description (HID descriptor is automatically
parsed), and se

[2015-10-17 13:15] #112 closed

[2015-10-17 13:40] adcxyz commented on #18
// ok thanks - more detailed tests:
[code]

[2015-10-17 14:42] adcxyz commented on #238
* specialMessages -> specialDeviceMessages :
yes, possible. not sure it is clearer

* this will basically break json-compatibility. why is an ordered association array needed here?

+ json-compatibility: many descs create things with sc code, and should be rendered to a flat,
json-compatible formats anyway, so does the assocArray really create a problem here?

+ why assocArray:
An ordered associat

[2015-10-17 15:39] LFSaw commented on #238
JSON supports Basic datatypes (Int, Float, ...) and Arrays, Dictionaries, and Strings (no separation between String and Symbol). An "ordered Dictionary" is a special datatype that is not supported and we'd need to find a non-straightforward way to represent that. But maybe I am just overly protective here...

[2015-10-17 16:34] LFSaw opened #250 "elementAt returns wrong array"
[code]
this is wrong.
This should be the case:

[code]

instead it gives
[code]

[2015-10-17 16:52] adcxyz commented on #238
MKtlElementGroup offers access by name and by index, which is a big semantic and usability plus. So we need some way to notate for each element or group in the desc what its local key is,
and what its index is.
index is obvious in arrays,
key is obvious in dicts,
both are obvious in assocArrays,
or another convention of array containing names.
[code]
// any other notations options worth considerin

[2015-10-17 17:22] adcxyz commented on #241
Got a first pass at this working - from joybox desc file:

Example for a MIDI hardware device and its elements.
	The joybox is made from a Doepfer pocket electronics kit,
	which can send 16 midi controls,
	and 8 XY joysticks in a 4x2 layout.

[code]

[2015-10-17 17:22] #241 closed

[2015-10-17 17:24] adcxyz commented on #241
closed with 7279ab0

[2015-10-17 17:25] adcxyz commented on #250
check out whether elAt does what you want.
elAt could also be extended to allow \all and nil wildcards.

[2015-10-17 19:08] adcxyz commented on #250
probably quite useful for debugging this:
MKtl('push').elementAt(\pad).postElements;

[2015-10-17 19:32] adcxyz commented on #250
OK, I understood why that happens - it is because deepAt does not expand.
Working on that with deepAt3 ...
[code]
Working on that with deepAt3 ...

[2015-10-17 20:33] adcxyz commented on #250
OK, think I got it to work:
[code]

[2015-10-17 20:33] #250 closed

[2015-10-18 14:06] adcxyz commented on #238
result of discussion with Till:
* we keep array of assocs, figure out how to keep that in json later
* dict of shared element properties in MKtlElementGroup is now
 sharedProperties: (\elementType: \knob)
* collectives are now called deviceIOGroups

[2015-10-18 17:57] adcxyz commented on #238
One more option worth considering that may by best for json
[code]
key key could also be 'name', and would only be the key within the local hierarchy;
elementKey gets put in later automagically when build the hierarchy.
@LFSaw - would that be preferable over the assocArray style?

[2015-10-18 21:42] LFSaw commented on #238
imho we should concentrate on a nice representation in SC now, JSON is' später. :)

[2015-10-21 14:37] miguel-negrao commented on #246
I've tested this in linux and with the latest from git, it is indeed working now. The mesage about multiIndex is not totally clear, since it posts a dictionary, which suggests maybe the user should put the dictionary into the multiIndex argument. In any case I figured it out quickly. Thanks !

[2015-10-21 14:47] miguel-negrao commented on #249
Do you mean search replace 'elementType' to 'type' ?

[2015-10-23 15:06] LFSaw commented on #249
no, I mean turn it into a hierarchical description...

But Alberto redoes the description files anyhow so no need for this atm.

[2015-10-23 20:01] adcxyz commented on #77
I think the best option for the desc files is to always put them together:
I went through all descs in the desc_reorg branch  to adapt them to the final style,
and always notated noteOn noteOff as noteOnOff:
[code]
and all thumbsticks are now :
[code]
hope that is consistent enough for a gui representation.

[2015-10-23 20:02] adcxyz commented on #130
done in desc_reorg branch.

[2015-10-23 20:02] #130 closed

[2015-10-23 20:04] adcxyz commented on #238
done in desc_reorg branch, finished with 1e978e7.

[2015-10-23 20:04] #238 closed

[2015-10-23 21:32] adcxyz commented on #179
has been working for a while in desc_reorg:
m = MKtl(\x, "korg-nanokontrol");
m.elAt([\kn, \sl], 1, [0, 1]).postcs // knobs and sliders 1, 2 of scene 1
m.elAt(\sl, nil, [0, 1]).postcs;   // first two sliders of all 4 scenes
m.elAt(\sl, \all, [0, 1]).postcs; // nil and \all work as wildcards.

[2015-10-23 21:32] #179 closed

[2015-10-25 15:34] adcxyz commented on #45
started on this one with 068647b, hopefully this is clear enough so someone else can add all the other messages.

[2015-10-28 23:00] adcxyz commented on #249
ok, went through that file, kept the naming as is.
What is the new scheme this should adhere to?

[2015-10-28 23:03] adcxyz commented on #247
should now do
[code]

[2015-10-29 12:09] adcxyz commented on #131
closed in desc_reorg with faad7e0

[2015-10-29 12:09] #131 closed

[2015-10-29 12:11] adcxyz commented on #187
closed in desc_reorg with ce32b8b

[2015-10-29 12:11] #187 closed

[2015-10-29 13:36] adcxyz commented on #247
First pass if this is done, MIDIExplorer now posts a usable flat list of all  elements found.
In a way, it makes sense to keep it that way and not try clever guessing how to organize
the elements found:
The guess will always be somewhat wrong, and for the person making the file,
doing the hierarchy by hand seems the best way to learn how one really wants to think
about the elements and their hiera

[2015-10-29 13:36] #247 closed

[2015-10-30 10:32] adcxyz opened #251 "LPD8 noteOff sends vel 127, which breaks noteOnOff shortcut"
LPD8 sends noteOff with vel 127, which makes it impossible to detect noteOff by el.value == 0;
* is this only my (adc) device, or do others get the same behavior?
* if this is general, how best to handle this case? separate noteOn, noteOff elements?
[code]

[2015-10-30 10:59] adcxyz commented on #251
fixed with 178d6de

[2015-10-30 10:59] #251 closed

[2015-11-06 20:57] #236 closed

[2015-11-20 11:41] miguel-negrao commented on #249
I think these are now ok.

[2015-11-20 11:41] #249 closed

[2015-11-20 11:42] miguel-negrao opened #252 "tutorial is outdated"
syntax and description files have changed.

[2015-12-07 09:37] adcxyz commented on #252
Hi miguel,
which one specifically? I updated the ModalityWorkshop/baseworkshop files in 4eba031,
any others that you have found to be outdated?

[2015-12-07 09:39] adcxyz commented on #237
@woutersnoei, do you want to rename, or should we rename in Modality-toolkit?

[2015-12-07 14:04] miguel-negrao commented on #252
The modality tutorial in the sc help files. From an email on the list:

On 20-11-2015 04:19, daniel palkowski wrote:

Assuming you are running the latest version of Modality, then you have
probably made a copy paste error, you have a missing curly bracket at
the end, as the IDE would have pointed out by paiting that region red.
On the other hand the tutorial is somewhat outdated relative to the
la

[2015-12-08 18:46] LFSaw opened #253 "MKtl:rebuild -- MKtlDesc - dict is not a valid description"
In ```Tutorials/How_to_create_a_description_file_for_MIDI.schelp```, near

it says:

[code]
When evaluating, I get:

[code]

(on 64353a802ec8819cf0125d23f269bb772c32670b )

[2015-12-08 18:48] LFSaw commented on #251
IMHO, this should be the default way to implement noteOn / noteOff for pad/keyboard devices. I now have the same problem with the OP-1 (sends non-zero noteOff events which I cannot differentiate from noteOn's)

[2015-12-08 19:26] sensestage opened #254 "Have a default page"
For devices with pages, when mapping controls (using elementAt) it may be useful to have a default page (e.g. 0), this would make it easier to transfer code between devices that have different pages, and ones that don't.

[2015-12-08 20:31] #252 closed

[2015-12-08 20:36] adcxyz commented on #253
From above in the same file:
So you can test the examples below even without a physical device, we will use SuperCollider's own input and output. In order to do that, you will need to do different things depending on which platform you are using.
On OSX, please go to Audio MIDI Setup, and create an IAC Bus you can use.

...
Then you can continue here:

[2015-12-08 20:40] #253 closed

[2015-12-08 20:42] adcxyz commented on #254
You can do exactly that by making a separate MKtlDesc and MKtl for every page;
then the single page is maps directly to the non-paged device.
See PagedMKtl.schelp

[2015-12-08 20:57] sensestage commented on #254
Does that also work with hardware pages easily?
Is there a simple way to say: make an MKtlDesc from this hardware page that is found in the description file?

(note, I still didn't have chance to look at the code again; the question/idea came up during our Creative Music Coding lab here).

[2015-12-08 21:47] adcxyz commented on #254
There are currently five devices that have hardware pages:

[
"behringer-bcf2000.desc.scd",
"behringer-bcr2000.desc.scd",
"qunexus/keith-mcmillen-qunexus.parentDesc.scd",
"korg-nanokontrol.desc.scd",
"novation-launchcontrol-xl.desc.scd”
]

Of these, the qunexus is alreay split into 4 files.
The others are not - all of them have some elements that are in pages and others that are not.
I doubt that

[2015-12-09 17:44] LFSaw opened #255 "simplify help: combine helpfiles and tutorials on MKtlDesc"
Combine / simplify / update the following helpfiles

[code]

[2015-12-09 17:52] LFSaw opened #256 "discourage use of \noteOnOff"
based on #251 + the possibility to get to the same of not caring for on/off

[code]
and the potential (and actual happening) confusion arising from ```\noteOnOff``` as a ```\midiMsgType```, propose to dis-encourage and eventually deprecate/remove ```noteOnOff```.

[2015-12-10 13:32] adcxyz commented on #256
+ 1

[2015-12-10 14:40] adcxyz opened #257 "unify / simplify / reduce tutorials and overviews."
Dear all,
at the moment, Modality documentation seems really confusing (as list questions show):
There is too much material, large parts are cross-duplicated with small changes, much of it out of date by different degrees ...

Some examples:
* ModalityTutorial and ModalityWorkshop/base-workshop, is largely the same material copy-pasted;
* in ModalityWorkshop/base-workshop, nearly everything is cop

[2015-12-10 14:57] adcxyz commented on #257
This is expanding on issues #255, #252, #232,
and due to other urgent obligations I cannot volunteer.

[2015-12-11 12:10] adcxyz opened #258 "simplify examples - put examples by device in separate folder"
A proposal for the examples that are scattered throughout the documentation:

Make a folder with canonical examples for specific devices, using the same name as their desc file, plus longer special name where applicable:

[code]

Advantages:
- only one place to extend, maintain, update the example
- tutorials and docs can point to that material from anywhere
- scd files already open in editor, no

[2015-12-12 12:36] #237 closed

[2015-12-25 13:53] adcxyz commented on #256
A downside to moving completely to [\noteOn, \noteOff]:
There is no longer a single element with the state of on/off,
as these are then separate elements.
For midi buttons, this means that the \noteOn element is always 1,
and the noteOff element is always 0.
Asking the group that has the two elements for its value
 returns the last velocity values of both on and off, e.g.:
k.elAt(\pkey, 0).value;s

[2016-01-28 14:59] adcxyz commented on #256
For the todo-list,
I just checked, currently 22 of 44 device descs still use noteOnOff:
MKtlDesc.allDescs.select { |d| d.protocol == \midi }.size;

z = MKtlDesc.allDescs.select { |d| d.elementsDict.any { |el| el[\midiMsgType] == \noteOnOff } }.keys(Array).sort.postcs;
z.size;

[2016-01-29 10:24] adcxyz commented on #256
down to 20 now.

[2016-02-03 18:52] tapage opened #260 "Traktor Kontrol Z2 new desc file is partially not working"
Just moved to the latest version of Modality
(Master branch)

And I see that the desc file for the Traktor Kontrol Z2 has changed
it doesn't work completely (some functionality does but a lot of knobs
don't respond anymore) I really don't understand the new syntax for
the desc files at all... so I'm not quite sure how to fix it...
[code]

I changed the (32..36) to [32, 33, 34, 35, 36] but no chang

[2016-02-03 19:24] tapage commented on #260
I managed to fix it!
Below in the desc file there is a second set of elements for when the shift is held down
the knL and knR weren't renamed properly to knLS and knRS hence the no resonse!
ahhhh this makes my life so much better!

[2016-02-03 19:25] #260 closed

[2016-03-14 22:13] LFSaw commented on #256
@adcxyz and myself solved the noteOnOff issue with the following syntax that creates a noteOn/noteOff pair from within the MKtlDesc ( starting with ae26336b9ca335fd215d554828ac22adc7ceb3b0 ) :

[code]

you can find a working example on how to use it in
https://github.com/ModalityTeam/Modality-toolkit/blob/master/Modality/MKtlDescriptions/akai-lpd8.desc.scd

The GUI solution is a temporary one, lea

[2016-03-14 22:13] LFSaw commented on #256
ah, we will close this issue, once all the descriptions are transferred to the new syntax.

[2016-03-15 00:00] adcxyz commented on #256
and there are now about ten of those left …

[2016-03-16 01:03] adcxyz commented on #256
done now, so we can close this.

[2016-03-16 01:03] #256 closed

[2016-03-16 08:49] LFSaw commented on #256
yey!

[2016-03-16 16:08] tapage opened #261 "Traktor Kontrol z2 GUI problems"
Hi all

I'm having problems with the Gui of the Traktor Kontrol Z2
I manage to open the device and create a gui
but the gui looks thin and not all elements fit on the screen
then when I use some of the elements of the gui I get this error message:

[code]

Not sure how the Gui stuff works so I can't fix it...
All the rest of it works like a charm!

Best,
Tijs

[2016-03-18 11:54] adcxyz commented on #261
fixed the error by catching missing midiout condition in 7546d99.
I added gui info to about a third of the controller elements I could identify,
tijs will finish this shortly.

todo:
* check that midiout for other devices is built and works correctly
* in traktor desc file, maybe considered a hierarchy of elements.
As an example (I dont know which ones are midified, and which order makes most sens

[2016-03-20 17:25] sensestage opened #262 "Automate multiindex"
Icon I-Controls has these devices upon ```MKtl.find```:

[code]

Doing this:
```m = MKtl('midi_3_icon_icontrols_v2_00_port_1', "icon-icontrols");```

outputs:

[code]

Shouldn't Modality be able to infer that there are multiple ports and provide the proper index in the printout?

[2016-03-21 08:43] sensestage commented on #18
Reading the discussion, I don't see how this would then solve it:

[code]

[2016-03-21 08:45] sensestage commented on #18
Also: do you feel it rumbling on the right side?
On Linux I feel distinct differences between the left and the right side rumbling.

[2016-03-21 14:07] adcxyz opened #263 "web doc - fix links to descs"
Here is the list of currently broken links to desc files:
[code]

[2016-03-21 14:13] adcxyz commented on #18
just tested this again - there seems to be only general rumble,
and both rumble outputs set the same motor intensity.

I also tried setting hidUsage to (nonsense value) 123, and it still sets the same motor.

I put it as notes in the desc file for the future.

// test for rumble outputs
f.elAt( \rumble, \l ).value_(1);
f.elAt( \rumble, \l ).value_(0.5);
f.elAt( \rumble, \l ).value_(0);

f.elAt( \r

[2016-03-21 23:22] sensestage commented on #18
And with the direct HID interface, can you distinguish between the two?

[2016-03-21 23:23] sensestage commented on #18
If so - I would say that we leave a note in the descriptor that one of the rumbles doesn't work for OSX.

[2016-03-22 10:12] LFSaw opened #264 "web doc info page should best show all description files for that device on the same page"
(splitting issue #263 into two)

When there are multiple desc files for a single device, the web doc info page should best
show all description files for that device on the same page, like this
Keith McMillen QuNexus

….
MKtl Description(s):
keith-mcmillen-qunexus_port1_AB
keith-mcmillen-qunexus_port1_C
keith-mcmillen-qunexus_port1_D
keith-mcmillen-qunexus_port2
keith-mcmillen-qunexus_port3

[2016-03-22 10:32] adcxyz commented on #18
yes they are two distinct devices.

[2016-03-22 10:35] adcxyz commented on #18
already there in thrustmaster-run-n-drive-wireless.desc.scd:

Notes:
* rumble does nothing on wireless, works on wired.

and in  thrustmaster-run-n-drive.desc.scd:

Notes:

* rumble is only on a single motor, no left and right ( see test below)

good enough?

[2016-03-22 11:16] #263 closed

[2016-03-22 11:31] LFSaw commented on #18
i.e. they are part of the machine-readable description. please do not duplicate that information into comments (hard to spot if things change...)

cheers
	Till

[2016-03-22 13:41] adcxyz commented on #18
They were just in commented-out text at the top of the file.
Are you proposing to put all comments into the compiled part of the desc?

I thought so far that :

deviceInfo: (
	notes: “should be short for some reason. ”
);

should we include everything now in comments on top there?
and everything that is code examples in testCode?
or maybe testCode just what is needed for verification,
and exampleC

[2016-03-23 15:32] LFSaw commented on #262
it is not possible to understand how many of the devices are connected. Especially if the number of in and output devices is not the same for any device, proper derivation of the "right" port for a specific part of the device is rather difficult and prone to errors. We decided (for now) to keep the (easy) process of selecting the right index to the user.

[2016-03-23 16:47] adcxyz commented on #262
multiIndex is for multiple items of the same device, and they are printed properly now.

port numbers are a separate issue:
they are supported by making separate descs for every combination of 1 in 1 out port.

So for the MIDI icontrols, there should be two desc files:
icon-icontrols_port1.desc.scd, which should say
(
...
idInfo: ("iCON iControls V2.00", sourcePortIndex: 0, destPortIndex: 0);
...

[2016-03-23 16:48] adcxyz commented on #232
seems well represented in 257, so closing this one.

[2016-03-23 16:48] #232 closed

[2016-03-23 16:49] adcxyz commented on #147
I suspect it is a lot less programming work to just close the gui when the lements change and make a new one. 2c

[2016-03-23 16:50] adcxyz commented on #165
is this a showstopper for 0.9.0?

[2016-03-24 14:42] adcxyz opened #265 "icon-icontrols: split desc file for the two ports if needed"
the icon-icontrols registers with two midi ports, which makes it necessary to be specific about which port is used for what.
If its modality-relevant midi messages are only on one port, convert the desc to that port only:
[code]
if there is relevant communication on both ports, the current desc file should be split into two separate files, one for each port, with only the elements that communicate

[2016-03-24 14:47] adcxyz opened #266 "auto-match with generic descs"
found HID devices with no desc files should try to find matching generic desc files,
e.g. mice are usually generic.
MKtlDesc.matchWithHID already does that matching test.
When MKtl creation with MKtl(\x, 'hid_N_whatever')
finds no matching devices it should try matching and post results:
[code]

[2016-03-25 10:44] sensestage commented on #18
Note that the rumble does work on both sides on Linux, it is an OSX specific issue. At least in the wired version. I don't have a wireless one to test.

[2016-03-25 12:42] adcxyz commented on #254
Actually, the initial request would now possible:
you can add all elements of the desired page with .addNamed,
then they are accessible directly without the scene number.
But currently the hierarchies of elements and pages are different between descs;
will put this in a separate issue.

[2016-03-25 13:00] adcxyz opened #267 "in descs, always put pages on top?"
Currently in device descs with pages, there are three ways of handling them:

1. every page is a separate file
// single page in desc
MKtlDesc.at('keith-mcmillen-qunexus_port1_AB').openFile
MKtlDesc.at('keith-mcmillen-qunexus_port2')
MKtlDesc.at('keith-mcmillen-qunexus_port3')

2. pages are on top, all elements change with page
MKtlDesc.at('novation-launchcontrol').openFile
MKtlDesc.at('novation-l

[2016-03-25 14:53] LFSaw commented on #165
no showstopper, changed milestone to later

[2016-03-26 10:24] sensestage commented on #262
All I was suggesting really is, instead of outputting this on MKtl.find:

[code]

this:

[code]

So that if a device is found which has multiple ports, output example code that allows you to open the device with that port, without having to read through an error message.

This is before any desc-file is made.

[2016-03-26 10:28] sensestage commented on #262
So it is still kept for the user, she just has easier code to copy and paste.

[2016-03-26 15:39] adcxyz commented on #262
All I was saying is there is a misconception here:
MIDI Devices with multiple ports need usually send different messages on each port,
which should be in different descs.

so instead of a single MKtlDesc(“icon-icontrols”);
 there should be two:
MKtlDesc(“icon-icontrols-port1”);
which should have idInfo: (…, srcPortIndex: 0, destPortIndex: 0);
and:
MKtlDesc(“icon-icontrols-port2”);
which should hav

[2016-03-27 09:04] adcxyz commented on #262
Sorry, that sounded unfriendly …

I assume the icontrols talks midi on port 1 mainly, yes?
I just added idInfo with port indices to icon-icontrols,
and comments for clarity.
Does it do anything on port 2?

@nescivi, please test that it shows up correctly now!
it should say now:

MKtl('midi_3_icon_icontrols_v2_00_port_1', 'midi_3_icon_icontrols_v2_00_port_1');
       // [ "iCON iControls V2.00", "i

[2016-03-27 10:16] adcxyz commented on #265
I updated current file to use port 1 - hope that works, I don't have the device.
added comment with instructions how to add desc file for port 2 (if it does anything interesting on port 2)

[2016-03-27 10:17] adcxyz commented on #265
somebody with that device please check :-)

[2016-03-27 10:19] adcxyz commented on #262
Fixed multiIndex posting - should also work for midi I think.

With two Saitek Gamepads I now get as post:
[code]
and all 4 code lines work for creating an MKtl.

[2016-03-27 10:19] #262 closed

[2016-03-30 14:06] adcxyz commented on #257
I have done some more cleanup, here is the current state,
and suggestions what to do about what.

Opinions please!
 adc
[code]

[2016-03-31 11:07] adcxyz commented on #265
@sensestage - you have one, please check and close if done - thanks :-)

[2016-04-01 19:58] adcxyz commented on #266
closed with b965ac6

[2016-04-01 19:58] #266 closed

[2016-04-01 20:00] adcxyz commented on #267
done for Faderfox with second desc file;
for BCR, BCF and nanokontrol one can probably also derive a second desc with element names and pages flopped.

[2016-04-01 20:33] adcxyz commented on #139
Moved this to Tutorials/Creating_Presets ...
Clear practical use cases would help here to figure out what the wish is exactly.

[2016-04-08 11:00] adcxyz commented on #265
fixed icon-icontrols with an old one (which registers as V1.02):
[code]
@nescivi :
Please check whether the two files adapted for the icontrols V2.00 work with the device you have:
[code]
Are the midi numbers in layer 1 the same in 2.00 as in 1.02?  If so, we can unify the descs.

[2016-04-08 11:00] #265 closed

[2016-04-08 20:12] adcxyz commented on #254
Possible now, see
"Tutorials/Using_Hardware_Pages".openHelpFile

[2016-04-08 20:12] #254 closed

[2016-04-12 21:31] adcxyz commented on #257
Update:

modality-toolkit:

* Class help files are all current now.
* Reference files for MKtlDesc need update, see #255
* Tutorials all current except:
[code]
* DeviceExamples are OK, except QuNexus and roli (adc)
- > Move many cookbook examples from ModalityWorkshop here

[2016-04-19 08:51] LFSaw opened #268 "rename and adapt MPushHelper to MPush"

[2016-05-02 11:51] adcxyz commented on #257
Update:
these are all updated now:
[code]
TODO:
DeviceExamples:
+ update roli (adc)
+ Move many cookbook examples from ModalityWorkshop

[2016-05-31 09:28] adcxyz commented on #257
only minor cleanups remaining, better put them in separate issues.

[2016-05-31 09:28] #257 closed

[2016-05-31 09:34] adcxyz commented on #199
related: #77

[2016-06-09 07:47] adcxyz opened #269 "desc files in subfolders not found on windows"
On windows, MKtlDesc only finds files in the desc folder itself, and not files one level below.
test:
[code]

[2016-07-07 12:07] adcxyz commented on #269
temp-fixed with fbc3d00

[2016-07-07 12:07] #269 closed

[2016-07-08 11:10] #268 closed

[2016-07-21 15:13] LFSaw commented on #255
worked a bit on this in 4cc851b48216f84c8e18b1ece224848ebc3f6edb

[2016-08-16 06:36] patrickdupuis opened #270 "Actions not reset when freeing a MKtl"
example:
[code]
Is this a bug, or do users need to resetActions before freeing a device? I tried replacing k.free with k.closeDevice and got the same result.

I'm on linux and SC 3.7.2.

Cheers,
Patrick

[2016-08-18 08:18] adcxyz commented on #270
closed with merge 3a6e7f8

[2016-08-18 08:18] #270 closed

[2016-08-22 00:10] patrickdupuis commented on #270
This problem is still present after commit 3a6e7f8.

[2016-08-22 00:21] patrickdupuis commented on #270
There is nothing for .resetActions to do if the elementsDict is already nil. The .free method should read as follows, right?

[code]

[2016-08-22 00:53] patrickdupuis commented on #270
It appears the problem is in the closeDevice method. I tried posting a message after the if statement, and it didn't post. That means the device.isNil is testing True. this.resetActions never gets called.

[2016-08-22 10:09] adcxyz commented on #270
done ok now, tests above show no action after k.free.

[2016-08-22 11:57] adcxyz opened #273 "test closeDevice methods with polyphony"
Making multiple MKtls for the same physical device works;
closing one of them should not close the underlying HID or midi ports
as long as other MKtls use that device.
Maybe make a separate method to really close the hardware-representing devices?

[2016-10-08 21:59] adcxyz commented on #53
closed with 5b20ce5

[2016-10-08 21:59] #53 closed

[2016-10-08 22:51] adcxyz commented on #273
closed with commit 9fd9e12

[2016-10-08 22:51] #273 closed

[2016-10-08 23:00] adcxyz commented on #267
desc file guideline for the question is proposed here,
which is good enough to close I guess.

[2016-10-08 23:00] #267 closed

[2016-10-29 13:00] adcxyz commented on #175
Hi,
I updated most of the cookbook examples, and they run ok now.

@miguel-negrao - can you please check the two FRP examples? they are
https://github.com/ModalityTeam/ModalityWorkshop/blob/master/cookbook/complex-copy-paste/complex-copy-paste_frp_style.scd
https://github.com/ModalityTeam/ModalityWorkshop/blob/master/cookbook/switchingActions/switchActionsFRP.scd
@LFSaw - can you please check this

[2016-10-29 13:05] adcxyz commented on #98
There are quite a few in the cookbook folder now.
I don't think we absolutely need a more visible examples repository for 0.9.0;
so I close.

[2016-10-29 13:05] #98 closed

[2016-10-29 14:23] adcxyz opened #276 "update ABNF form im MKtl_description_files"
MKtl_description_files has a definition of the description file format in ABNF form.
This should be updated to the current desc file format.

https://github.com/ModalityTeam/Modality-toolkit/blob/master/Modality/HelpSource/Reference/MKtl_description_files.schelp

[2016-10-29 14:30] adcxyz commented on #255
done, ABNF form update moved to new issue.

[2016-10-29 14:30] #255 closed

[2016-10-29 20:14] adcxyz commented on #199
Possible strategy here:
* make a PianoKeyView, which has velocity and on/off by default.
* options to support: noteOff velocity, polyPressure on same note
* make a PianoKeyboardView class :
 * makes a group of as many PianoKeyViews as there are physical keys
 * quasi-pages by octave up/down, like the small controllers (nanokeys etc)

[2016-10-29 20:18] adcxyz opened #277 "check / update FRP and Push-lightshow examples"
Moving these here, so we can close the Big Examples issue #175

@miguel-negrao - can you please check the two FRP examples? they are
https://github.com/ModalityTeam/ModalityWorkshop/blob/master/cookbook/complex-copy-paste/complex-copy-paste_frp_style.scd
https://github.com/ModalityTeam/ModalityWorkshop/blob/master/cookbook/switchingActions/switchActionsFRP.scd
@LFSaw - can you please check this on

[2016-10-29 20:19] adcxyz commented on #175
moved remaining check requests to issue #277

[2016-10-29 20:19] #175 closed

[2016-10-29 20:27] adcxyz commented on #103
There has been a generic descfile for mouse for a while now, and matching to it works.
could be used as a model for joysticks, gamepads etc if those are really needed.

[2016-10-29 20:27] adcxyz commented on #101
closed now in SC 3.8.

[2016-10-29 20:27] #101 closed

[2016-10-29 23:09] adcxyz commented on #199
update of the old sketch:
* shows noteOn velocity
* optional poly pressure
* optional noteOff velocity
* shows midiNums of keys, can be transposed e.g. by octaves
[code]

[2016-11-10 10:35] adcxyz commented on #77
Done.

Reversing the decision to drop \noteOnOff in #256,
MKtlDesc now supports a number of keys for \groupType, which expand into small groups of elements, see MKtlDesc.help. some examples:
[code]
These are mirrrored as modes in MPadView, where a single MPadView represents
up to 3 elements in a single view:
[code]
For piano-like keyboard guis, the Piano class creates layout info,
which can be use

[2016-11-10 10:35] #77 closed

[2016-11-10 10:47] adcxyz opened #278 "complete desc files with full gui style info."
Most desc files now have complete gui style info and look quite good;
in some the elements are not aligned as on the physical device, but they are usable.

The desc files below need some attention, ideally by people who own and use the devices ;-)
[code]

[2016-11-10 22:23] adcxyz commented on #199
Done - with MPadView and Piano.layout, one can make good views for pinaokeys.

[2016-11-10 22:23] #199 closed

[2016-11-13 09:35] kisielk opened #279 "Index out of range when using MKtl.find"
Just installed the modality quark on SC 3.8. Stepping through the tutorial and upon running `MKtl.find` I get the following error in the console:

[code]

[2016-11-13 13:03] adcxyz commented on #279
hi @kisielk,
this is on linux, yes?

* Is there a way to reduce the number of MIDI sources/destinations that the system sees before initializing MIDI? (I am guessing you are not using all of them)
* Do you get the same error when you do this:
[code]

[2016-11-13 13:05] adcxyz opened #280 "add more device images on modality.github.io/controllers"

[2016-11-13 13:16] adcxyz opened #281 "how best to handle keyboard views - octave transposition?"
Currently, most desc files of MIDI keyboard device create guis where all reachable keys are shown, e.g. for a nanokey, keys 0-120. this is useful to get to all keys, but eats lots of gui space.

One option would be creating a KeysView class that knows to display say 25 keys, plus a gui element for octave transposition - then one can reach all keys if needed, and by default, the guis shows only the

[2016-11-13 13:48] adcxyz commented on #117
Proposal:
* Make a desc for a virtual MKtl that has all the elements
* add the MIDIdef.noteOn function by hand

This allows all the advantages of having it as an MKtl, without complicated additions to the desc protocol.

[code]

[2016-11-13 14:21] adcxyz commented on #117
Option 2 would be creating a special class for it, as with MPush.

[2016-11-13 16:47] kisielk commented on #279
Oh sorry, forgot to mention. It's on OSX Yosemite.

I'm actually using around half of those MIDI ports (though not necessarily always in SC...). I'm not sure there's a way on the mio10 to disable some ports from being seen by the OS or not. I tried `MIDIIin.connectAll` and indeed it seems the problem is there.

[2016-11-13 16:49] kisielk commented on #279
Interesting thing is, when I use `MIDIIn.connectAll` there's still mention of MKtl in the stack trace:

[code]

[2016-11-13 16:55] kisielk commented on #279
Ok, last one is a red herring.. I removed the quark and it still fails, so seems this is an SC bug.

[2016-11-13 18:50] adcxyz commented on #279
yes, it seems the mention in MIDIIn class nextClass only comes from alphabetic order of all classes.

can you report it to supercollider/supercollider/issues? and crosslink here?
guesssing - the error happens after the 17th destination,
so maybe the destinations array is inited with size 16 and then fails.

[2016-11-14 01:58] kisielk commented on #279
We managed to track down the problem to there being a hardcoded limit of 16 MIDI devices, see https://github.com/supercollider/supercollider/issues/2492

[2016-11-15 00:58] #279 closed

[2016-11-25 11:19] adcxyz opened #282 "allow \button again for groupType \noteOnOffBut"
In order to display the noteOn/noteOff/polytouch functions for  pianoKeys and pads in a single GUI view, recent commits have set the elementTypes of simple on/off buttons using MIDI noteOnOff to type \pad as well. Now that this is working, regular \button views should be allowed again.
This will require a redirection equivalent to MPadViewUpRedirect for the button's separate on/off actions, while

[2016-12-02 10:08] adcxyz opened #283 "Should APC40 description have much flatter hierarchy?"
The current desc file for the APC40 has a very deep
and somewhat confusing hierarchy of elements. It would make sense to replace this with (or add as alternative) a desc file with a very flat hierarchy,
which makes access to elements shorter.

Opinions from APC40 users please!

[code]

[2016-12-05 14:06] gilFuser commented on #283
Hi Alberto.
I just sent you a flatter version by email. Take a look if its everything OK.
There's an issue regarding paging. I explain in the email but I'm copying here in case someone out there have an idea of what to do.

The problem is that there's nothing to send a message to change the pages from the controller. There's a row of pads that simply change the midi channels of the elements in the

[2017-01-06 19:25] monodread opened #284 "Different Versions of MKtlDesc.sc in sc-quarks + github"
My SuperCollider (3.8) generated problems loading an MKtl with a custom description. Upon looking into this it turns out that the MKtlDesc File of my quark is different than the one up here on the github master branch. There seem to have been changes in the past how a desc file needs to be written? I used \elementsDesc whereas in the other version \description is used. Also the method *filenameFor

[2017-02-11 14:12] LFSaw commented on #189
here's some starting points.

Create Manta MKtl
[code]

[code]

[2017-02-11 14:13] LFSaw commented on #189
you have an idea for this, @adcxyz ?

[2017-02-11 15:00] LFSaw commented on #284
@monodread , just only now seeing this. My Quarks dir links to this repository, so it should be fine.
To answer your question: yes, there were major changes in the recent months, the currently "true" version is in this repository.

[2017-02-12 20:02] adcxyz commented on #189
I guess OSCMKtlDevice:send should convert its outValues
to a bitmasked array if an entry in its desc says so.

Generally, not sure how much sense it makes to implement every single-device case,
could be considered just-in-case coding.

@lfsaw, does off/amber/red work with strings as in your example already?

[code]

[2017-02-12 22:07] adcxyz commented on #189
I agree, why not implement simple-to-use set methods for the 8 slider LEDs in mantaOSC.

[2017-03-09 10:11] kflak opened #285 "Launchcontrol pads not working properly"
I’m having a bit of difficulty getting data from Launchcontrol pads using the Modality toolkit. The nav buttons all work fine, as do the knobs. However, when pressing the pads I get the message:

MKtl('lc') : unknown 'noteOn' element found at midiNum: 9,  midiChan 0.
	Please add it to the description file. E.g. for a button:<bt>: (midiMsgType: 'noteOn', elementType: <'button'>, midiChan: 0, midiNu

[2017-03-09 10:20] kflak commented on #285
This is happening on SC 3.8, Mac OSX 10.11.6

[2017-03-13 11:37] adcxyz commented on #285
hi kenneth,
in the desc file, try adding the groupType to shared as well, as below,
then recompile,
try if it works then and report back.
best
adc
[code]

[2017-03-13 13:12] kflak commented on #285
Works! Thanks a lot!

[2017-03-13 15:58] #285 closed

[2017-03-18 12:45] gilfuser opened #286 "element is in the desc. but it remains unknown"
Hello,
I'm making a new desc. for the MPK mini 2, but I had a problem in the piano keys part. When I trace and press the keys I get e.g. this:

MKtl('mpk2') : unknown 'noteOn' element found at midiNum: 72,  midiChan 0.
	Please add it to the description file. E.g. for a button:<bt>: (midiMsgType: 'noteOn', elementType: <'button'>, midiChan: 0, midiNum: 72, spec: <'midiBut'>, mode: <'push'>)

MKtl('

[2017-03-18 22:09] gilfuser commented on #286
Never mind. I got it.
The midiNum must be shared to. Like so:
[code]

[2017-03-18 22:09] #286 closed

[2017-03-23 22:07] sensestage opened #288 "Akai LPD8 description is not working for pads"
The LPD8 description file is not working...

When building, and doing a trace, I get this output when pushing one of the pads:

[code]

The GUI does not reflect the state of the pad either.

I'm a bit at a loss where this goes wrong... it seems the elements don't fill the midiNum part of the description.

[2017-03-23 22:24] #288 closed

[2017-04-23 09:26] LFSaw commented on #276
what is ABNF? Why do we need it here? I'd vote for removing it. I never looked at it, did anyone?

[2017-04-23 09:27] LFSaw commented on #276
I remeber @miguel-negrao working that one out... maybe he can comment?

[2017-04-23 10:00] LFSaw commented on #284
closed because stale and question answered.

[2017-04-23 10:00] #284 closed

[2017-04-23 10:01] LFSaw commented on #282
sounds good to me 👍

[2017-04-23 10:04] LFSaw commented on #281
Sounds good to me. I was wondering how much we need to follow the geometry of the H/W devices... maybe it is just enough to give hints on available real-estate (row/column/width/height) and let the gui figure out by itself, how much it should show?

[2017-04-23 10:06] LFSaw commented on #280
please populate the folder https://github.com/ModalityTeam/ModalityTeam.github.io/tree/master/img/controllers with files named accordingly. When I have time (sic!), I'll review the webpage (or anyone else fwiw).

[2017-04-23 10:08] LFSaw commented on #45
@bhabbestad ping

[2017-04-23 10:23] miguel-negrao commented on #276
[ABNF](https://en.wikipedia.org/wiki/Augmented_Backus%E2%80%93Naur_form) is a standard formal definition of a language. It allows to specify with precision text which is considered correct according to a certain language. In our case, it allows to specify what is a a correct definition file.

[2017-04-23 10:40] miguel-negrao commented on #276
It might be too much trouble to keep it up to date. Perhaps better to delete it and just use a more ad-hoc method of specifying the syntax.

[2017-04-23 11:02] miguel-negrao commented on #277
complex-copy-paste_frp_style.scd is okay.
updated switchActionsFRP.scd.

[2017-04-23 11:04] miguel-negrao commented on #200
Should a release be made ? This entails setting a tag and changing the quark file, right ?

[2017-04-23 11:08] miguel-negrao commented on #139
I'm also looking at implementing something like this. My use case is that I want to store all values of MKtlElements which have inout IO type, so that when I reconnect the controller I can send the values back to the controller and recreate the previous state. I was thinking of storing a flat dictionary of keys to values, and naming the methods something like storeState loadState. Any comments ?

[2017-05-23 08:22] LFSaw commented on #200
anyone knows about this?
we should do it. now. it is stable.

[2017-05-23 08:24] miguel-negrao commented on #200
I can look into it.

[2017-05-23 08:25] LFSaw commented on #200
let's look together >> gitter?

[2017-05-23 09:10] miguel-negrao commented on #200
ok, I'm there.

[2017-05-23 09:16] LFSaw commented on #200
since current version is 0.1.0, we should tag it 0.2.0

[2017-05-23 11:36] LFSaw opened #290 "MKtlElementCollective misses helpfile"
as we are assembling the release for #200, I stumbled over `MKtlElementCollective` which still needs a basic Help file. I am willing to write it, though need some two sentences on what it does. @adcxyz ?

[2017-05-23 11:50] LFSaw commented on #200
together with @miguel-negrao, I created an initial change log. Please comment/change until Wednesday, 24.5.2017.
https://etherpad.wikimedia.org/p/modalityShortlog

[2017-05-24 13:11] sensestage opened #291 "Where is \padUp defined for \noteOnOff"
It might be more logical if it is a pianoKey type, that then the noteOff gets the type \pianoKeyUp instead of \padUp.

[2017-05-24 13:24] sensestage opened #292 "MKtlDesc.addFolder should also accept that the folder MKtlDescriptions is already made"
if the folder already is named MKtlDescriptions, it should not try to add it again.

e.g. `MKtlDesc.addFolder ( "~/Desktop/MKtlDescriptions" );` should just work.

It is confusing that if you pass a valid folder that it does not find it and is actually looking for:
`"~/Desktop/MKtlDescriptions/MKtlDescriptions"`

[2017-05-24 14:02] miguel-negrao commented on #200
Thanks @LFSaw for going through the log. It looks good to me.

[2017-05-25 12:32] sensestage opened #293 "MIDI 14bit control messages"
To support this, I have made a branch cc14bit to add this feature.

Please review and hopefully merge!

[2017-05-25 12:33] sensestage commented on #291
seems to be in MKtlDesc:initGroupFuncs

[2017-05-25 12:37] blacksound commented on #293
Wow! This would be really nice to have. ;-)

[2017-05-25 16:42] sensestage opened #294 "MIDI output messages as integers"
In some cases it is useful to set the raw value of a MIDI output element, as the bytes may have some clever encoding.
This is for example the case with the Tascam US-2400 for the encoder ring display.

I will commit an IntegerClip class which can act as a spec to restrict a value to a certain integer range.

[2017-05-25 16:42] sensestage commented on #294
The only issue is then for the GUI views, how to display this properly

[2017-05-26 08:49] sensestage opened #296 "groupType: \noteOnOff does not propagate spec properly"
A noteOnOff defined as:
[code]

results in:
[code]

I think we should also rethink cases where noteOff actually has a velocity that is non-zero.

[2017-05-26 09:00] sensestage opened #297 "MKtlDesc should have a method to reread the file"
It seems at the moment there is no way to force MKtlDesc to reread a desc file.
This is useful when creating and editing a descfile and using MKtl.rebuild to rebuild the device.

[2017-05-26 15:09] LFSaw commented on #296
I understand the bug, what does

mean? how does it relate to the issue?

[2017-05-26 15:11] LFSaw commented on #294
Can't this be done with a (Control)`Spec`?
This seems to be similar to the String specs used in the OSC implementation, or?

[2017-05-26 15:13] LFSaw commented on #291
@adcxyz ?

[2017-05-26 15:31] sensestage commented on #296
It has to do with the general way of handling noteOn and noteOffs - maybe not directly with the issue, but more a general discussion.

With the current behaviour a noteOff with velocity 100 does not turn off the element value of the group.
This was a case with a custom built device, where it was just programmed to have that velocity.

[2017-05-26 15:36] sensestage commented on #294
When you do byte-encoding you do not want to go through a floating point representation as is the case in a spec (which always converts to/from a 0 to 1)

I guess it could be an output collective where you combine all of the options into one byte and then send it.

I have to admit that I am not uptodate enough with the code base to know how much of the work on Collectives that I put in is still in

[2017-05-26 15:39] sensestage commented on #294
For reference, here is the function to set the encoder ring in meter mode:

[code]

and here in the other mode:

[code]

Another common case seems to be the LED [ \off, \blink, \on] case.

[2017-05-26 15:40] LFSaw opened #299 "A `noteOff` with e.g. velocity 100 does not turn off the element value of its group."
Examples where this is needed are:

+ a custom-built device, where it was just programmed to have that velocity. ( @sensestage  )
+ OP-1

[2017-05-26 15:41] LFSaw commented on #296
added #299 to reflect this behaviour.

[2017-05-26 15:43] LFSaw commented on #294
@sensestage:

@adcxyz , can you comment?

[2017-05-27 11:31] LFSaw commented on #297
@adcxyz I thought this is possible already, do you recall?

[2017-05-30 10:28] miguel-negrao commented on #200
@LFSaw show we release now ?

[2017-06-01 08:49] LFSaw commented on #200
Released. Congratulations to all!
https://github.com/ModalityTeam/Modality-toolkit/releases/tag/v0.2.1

[2017-06-01 08:49] #200 closed

[2017-06-01 13:19] sensestage commented on #297
as far as I could you you could rebuild with a different file, but not the same file that has changed in the meantime.

[2017-06-01 13:20] sensestage commented on #291
I guess this is also interlinked with the GUI representations.

[2017-06-01 13:48] tiagmoraismorgado commented on #291
I agree, with the naming terminonology

[2017-06-01 16:26] #297 closed

[2017-06-01 16:33] adcxyz commented on #294
AFAIR, all the collective stuff is still there and works.

[2017-06-01 16:47] adcxyz commented on #292
Why not just use the both path and name arguments that addFolder currently asks for?
you can let the name default to the recommended folderName,
and save precious typing time ;-)

[2017-06-01 17:03] LFSaw commented on #294
Speaking of `MKtlElementCollective`, it is missing documentation... And I have no diea whatsoever what it is intended for.

[2017-06-01 17:13] adcxyz commented on #291
Yes, it is used in MKtlGUI, as devised by wouter:

\pianoKey redirects to \pad, which creates an MPadView.
Should someone add a PianoKeyView, it would be easy to point \pianoKey to that.
Very likely, that would be a different-looking subclass of MPadView.

\padUp creates a MPadUpViewRedirect which is virtual only,
and actually talks to the MPadView the pianoKey has created.

Sure, one can add \pia

[2017-06-01 17:58] adcxyz commented on #290
Actually @sensestage knows this much better, but I'll try anyway - the intro for the help file could be:

MKtlElementCollective contains elements whose values the corresponding device sends (or receives) in grouped form: For example, an OSC device which sends all its button states in a single OSC message with a message name and n values.
Very likely one never needs to make an MKtlElementCollective

[2017-06-01 18:24] adcxyz commented on #296
@sensestage - Have you tried it with \noteOnOffVel ?
I dont have any devices with off velocity, so I cant test.

Generally, the problem is in MIDI - when separate messages set the same state, (on/off),
the state can become ambiguous when a single message is dropped (hanging notes.)

Currently, it should work like this:
[code]
Maybe a good solution is to create a single element that goes from +127

[2017-06-01 18:27] adcxyz commented on #278
ping - would be really nice if people that have those devices would check and add the missing gui info.

[2017-06-01 19:38] LFSaw commented on #290
ah ok, thanks for the starter :)

 this'll make writing the help file a breeze :D

[2017-06-01 19:46] adcxyz commented on #290
just committed a first pass, hope it makes sense.
nice that modal hibernation is over ;-)

[2017-06-01 20:16] adcxyz commented on #296
... and here is an example for that:
[code]

[2017-06-01 20:49] sensestage commented on #290
I'm actually not sure whether the collectives are still working after the code refactoring.

My contributions will stay in bursts - when I happen to be working on a (paid) project needing Modality...

[2017-06-01 21:08] LFSaw commented on #290
Last time I checked (with XPee etc) it worked (without me knowing that it where collectives)...

With a little bit of digging, I found the place where they are used:

[code]

(see `MKtl:makeCollectives` and `OSCMKtlDevice:initCollectives`)

[2017-06-01 22:18] adcxyz opened #300 "desc/MIDI tutorial file needs update about \noteOnOff types"
Currently, Tutorials/How_to_create_a_description_file_for_MIDI is behind the implementation:
It says \noteOnOff types has turned out problematic, it is better to make the on/off pairs by hand, or use MKtlDesc.notePair.
The current implementation has 7 tags which configure and expand elements, which simplify the creation of most mid keyboard variants - from MPadView.help :

\noteOnTrig	trigger pad

[2017-06-05 11:25] adcxyz opened #301 "MKtlGUI layout of combined noteOnOff elements not working"
MKtlGUI does not do the layout of combined noteOnOff elements properly at the moment.
the elements are all created fine, and the elementviews too, just the layout geometry is not created as it should.
tests:
[code]

[2017-06-05 11:52] adcxyz commented on #296
@sensestage, does the above clear up the issue, and let you write a working desc file?
I just added a tutorial about groupTypes in 0193efa.

To explain generally, groupTypes like noteOnOff are shorthands that *create* the proper specs for buttons, so you don't need to spell them out everywhere (just assume 0-127 midi).
noteOnOff is defined to create noteOn with midiVel, and noteOff without midiBut

[2017-06-05 11:57] adcxyz commented on #299
I think this is a misunderstanding, not a bug.
with a noteOnOff group, there is no single group value, but separate values for \on and \off,
which separately keep the latest value of noteOn velocity and of noteOff velocity that came in.
The group has an isOn method to check which type of message happened last, so one can infer the likely mechanical state of the physical element it came from.

[2017-06-05 19:00] LFSaw commented on #278
I'm sorry, I cannot really spare time on this atm. I'll do this once I use the devices and will check them in occationally.

[2017-06-05 19:01] LFSaw commented on #299
@sensestage ?

[2017-06-05 19:02] LFSaw commented on #299
I think I understand the inner workings of this. So I do not consider this a bug.

[2017-06-13 19:24] LFSaw commented on #292
What is the status on this? I don't understand the problems here...

[2017-06-16 23:53] adcxyz commented on #299
@sensestage - ping :-)

[2017-06-28 22:28] adcxyz commented on #299
is this still an issue even? IMHO it is not - maybe it should be added to the doc somewhere.

[2017-06-28 22:29] adcxyz commented on #296
@sensestage - ping

[2017-06-30 12:32] #276 closed

[2017-06-30 12:33] #299 closed

[2017-06-30 12:35] adcxyz commented on #291
question is answered, so closing.

[2017-06-30 12:35] #291 closed

[2017-06-30 12:42] adcxyz opened #303 "MKtlDesc - add user folder"
MKtlDesc is meant to support user specific descs. I would propose
auto-creating a folder code::MKtlDescscriptions:: in code::Platform.userAppSupportDir::,
and advising users to place their custom desc files there.
When distributing custom descs to others, one can
either place them in that user folder,
or put them next to the file that needs the desc,
and load it with something like:
code::MKtlDesc

[2017-06-30 12:43] adcxyz commented on #290
@lfsaw - good enough to close?

[2017-06-30 12:43] #258 closed

[2017-06-30 12:47] adcxyz commented on #261
@tapage - ping ....
is this issue still worth keeping open?

[2017-06-30 12:48] adcxyz commented on #117
I think this is answered, so closing.

[2017-06-30 12:48] #117 closed

[2017-06-30 12:49] adcxyz commented on #104
@sensestage - is this still on your agenda?

[2017-06-30 12:50] adcxyz commented on #103
discussion seems to have ended, so closing.

[2017-06-30 12:50] #103 closed

[2017-06-30 12:52] adcxyz commented on #127
@sensestage - is this issue worth keeping?

[2017-06-30 13:47] adcxyz commented on #303
false alarm, exists already.
added it to a few more places in the help files in 2a0941b, and closing.

[2017-06-30 13:47] #303 closed

[2017-06-30 17:37] adcxyz commented on #292
I don't really see a problem.
The method supplies "MKtlDescriptions" as default folder name, thus nudging users to use that name. I don't know why it should also allow typing that out by hand, requiring extra just-in-case logic for it.

The most sensible option is to use ```MKtlDesc.userFolder``` for all special/customized/personal desc files, keep them there, and never worry.

@sensestage, is thi

[2017-07-01 14:13] LFSaw commented on #261
closed due to unresponsiveness of initiator. Added to https://github.com/ModalityTeam/Modality-toolkit/projects/1

[2017-07-01 14:13] #261 closed

[2017-07-01 14:14] LFSaw commented on #104
closed due to unresponsiveness of initiator. Added to https://github.com/ModalityTeam/Modality-toolkit/projects/1

[2017-07-01 14:14] #104 closed

[2017-07-01 14:14] LFSaw commented on #303
:)

[2017-07-01 17:52] adcxyz commented on #303
oh well, memory used to be better ... i think

[2017-07-02 08:12] adcxyz commented on #294
This seems similar to the CinematixWheel #117, hardware with indiosyncratic ways of compressing data into (MIDI) messages. Like there, I think it good to provide a specific solution for the case and document its logic; like there also, I don't understand what the general case to solve is.

For a no-spec MKtlElement, one could use MAbstractElement; for mapped/unmapped integer values, one could writ

[2017-07-05 10:04] sensestage opened #304 "resetActions does not clear actions of groups"
MKtl.resetActions does not clear the actions of groups.

[code]

[2017-07-06 18:45] adcxyz commented on #304
@sensestage
- just tested, works here, OSX 10.11.6, recent SC 3.9dev, current modality master.
[code]

[2017-07-06 18:45] adcxyz commented on #296
@sensestage - ping ping

[2017-07-06 18:46] adcxyz commented on #292
@sensestage ping ...

[2017-07-06 18:47] adcxyz commented on #18
has been stuck for 15 months ... closing.

[2017-07-06 18:47] #18 closed

[2017-07-06 18:48] adcxyz commented on #31
@LFSaw  ping

[2017-07-06 18:48] adcxyz commented on #23
@LFSaw ping

[2017-07-06 18:48] adcxyz commented on #24
@LFSaw ping

[2017-07-06 18:50] adcxyz commented on #38
This seems orphaned. moving to projects in case someone wants to revisit it there.

[2017-07-06 18:50] #38 closed

[2017-07-06 18:51] LFSaw commented on #23
funny... but atm I'm not able to take the responsibility :/

[2017-07-06 18:52] #23 closed

[2017-07-06 18:57] adcxyz commented on #45
@bhabbestad ping

[2017-07-06 18:57] adcxyz commented on #47
close and move to Sleeping beauties.

[2017-07-06 18:57] #47 closed

[2017-07-06 18:59] adcxyz commented on #109
closing and moving to unresponsive authors

[2017-07-06 18:59] #109 closed

[2017-07-06 19:00] adcxyz commented on #113
closing and moving to sleeping beauties

[2017-07-06 19:00] #113 closed

[2017-07-06 19:02] adcxyz commented on #165
@LFSaw ping
- is this still open? if so,
- are there any other cases than the OP1?
- have you tried the Halo tagging system?

[2017-07-06 19:03] adcxyz commented on #184
closing and moving to sleeping beauties

[2017-07-06 19:03] #184 closed

[2017-07-06 19:22] adcxyz commented on #304
ok, that was a false positive - the noteOnOff expansion is not working properly
in this desc atm. will look into it.

[2017-07-06 19:24] adcxyz commented on #300
started on this, but the expansion needs some more testing first anyway.

[2017-07-06 19:41] adcxyz commented on #158
quiet for 2 years - moving to sleeping beauties

[2017-07-06 19:41] #158 closed

[2017-07-06 19:43] adcxyz commented on #280
did a few now.
It would be good to get #264, the merge of desc variants for one controller onto a single entry rather than adding lots of copies of the same image file.

[2017-07-06 19:44] adcxyz commented on #235
moving to sleeping beauties.

[2017-07-06 19:44] #235 closed

[2017-07-06 19:45] adcxyz commented on #195
moving to sleeping beauties.

[2017-07-06 19:45] #195 closed

[2017-07-06 19:46] adcxyz commented on #197
moving to sleeping beauties.

[2017-07-06 19:46] #197 closed

[2017-07-06 19:47] adcxyz commented on #217
moving to sleeping beauties.

[2017-07-06 19:47] #217 closed

[2017-07-06 19:48] adcxyz commented on #147
no response - seems discussion has ended, so closing.

[2017-07-06 19:48] #147 closed

[2017-07-06 19:49] adcxyz commented on #137
moving to sleeping beauties.

[2017-07-06 19:49] #137 closed

[2017-07-06 19:52] adcxyz commented on #139
hi @miguel-negrao,
yes makes sense - probably best implement it in elementGroup though,
so it gets everything from the group down, then you have full flexibility
to store everything in readable order, or any custom groups that should be
presettable.

[2017-07-06 19:52] adcxyz commented on #127
moving to sleeping beauties.

[2017-07-06 19:52] #127 closed

[2017-07-06 19:54] adcxyz commented on #24
moving to sleeping beauties even though just pinged ;-)

[2017-07-06 19:54] #24 closed

[2017-07-06 19:55] adcxyz commented on #182
moving to sleeping beauties

[2017-07-06 19:55] #182 closed

[2017-07-06 19:57] adcxyz commented on #211
move to sleeping beauties.

[2017-07-06 19:57] #211 closed

[2017-07-06 20:01] adcxyz opened #306 "groupType expansion needs full testing with devices."
ATM groupTypes like noteOnOff, noteOnOffTouch expand preoperly into MKtlElements,
but not yet into proper responders and midi lookup dict entries within MIDI devices.
-> Do extensive tests of all types and their expansion.

[2017-07-07 17:29] adcxyz commented on #306
expansion works now with 97e01f3, gui style does not propagate down correctly yet.
still needs full test suite.

[2017-07-08 09:50] adcxyz commented on #141
@tapage ping :-)

[2017-07-08 09:52] adcxyz commented on #277
IIUC, this is done, so closing. thanks @miguel-negrao !

[2017-07-08 09:52] #277 closed

[2017-07-08 09:57] adcxyz commented on #281
We could simply go by how many physical keys the device really has, and do octave transposition based on that, like paging. Actually, if one can define an element to be in any subset of all pages,
that could be done rather easily:
Keys 24-49 could be in page0, 36-61 in page1, 48-73 in page2 etc.

[2017-07-08 10:37] adcxyz opened #307 "desc cache - optimize or remove?"
Hi,
I am wondering what to do about the MKtlDesc writeCache/loadCache concept.
The tradeoffs are these:
When desc files stay the same, cache allows not loading all descs to find the one you are looking for, saving CPU time and memory space, at the expense of staticness: When new descs are added, it takes several rounds involving writeCaching before they are auto-found reliably.

So the options are

[2017-07-09 10:07] adcxyz opened #308 "groupType expansion should allow different numbers and extra elements"
groupType expansion should allow for different midiNums of its components,
and for adding more elements to the group:
[code]

[2017-07-10 17:40] adcxyz commented on #304
fixed with 1fe9053.

[2017-07-10 17:40] #304 closed

[2017-07-12 06:17] LFSaw commented on #307
how much slower would be (2.)? Can we test?

[2017-07-12 06:19] LFSaw commented on #281
An alternative would be to show only mas 2 ocatves (more are really difficult to handle screen-real-estate-wise). IMHO, there's no point of showing 80 keys, even if that master keyboard of yours has them.

[2017-07-12 06:20] LFSaw commented on #306
GUI looks like a new issue to me, no?

[2017-07-13 08:38] adcxyz commented on #307
@LFSaw thanks for asking for tests, that does answer it:
// On Macbook Pro 2015, 2.9GHz, OS 10.11.6:
// find single desc by partial file name
bench { MKtlDesc("*trol2"); }; // 0.003
bench { MKtl(\x, "*trol2"); }; // 0.007
bench { MKtl(\y, "*trol2"); }; // 0.007

// load
bench { MKtlDesc.loadDescs }; // 0.76 sec
bench { MKtlDesc.loadCache }; // 0.0015
bench { MKtlDesc.writeCache }; // 0.8, does ful

[2017-07-13 08:51] adcxyz commented on #306
yes, could also be a new issue - the problem is more general / conceptual,
namely what the clearest form of description is and how to write passing things
down into the elements so they work correctly.  My current idea is loosely:

[code]
This should  also include elements that have separate midiNums for output
(e.g. setting moving faders or led indicators), not sure how best to do that.

opinions

[2017-07-15 08:37] adcxyz commented on #307
done with 9498049

[2017-07-15 08:37] #307 closed

[2017-07-15 09:09] adcxyz commented on #296
no response, so I consider this answered.

[2017-07-15 09:09] #296 closed

[2017-07-15 21:30] adcxyz commented on #293
merged already, so we can close this.

[2017-07-15 21:30] #293 closed

[2017-07-22 08:40] wtkns opened #309 "caught exception in primitive Meta_File"
OSX 10.12.5, SC 3.8, I was testing my own quark file, which calls modality as a dependency.

Modality was working fine. I deleted my downloaded-quarks folder contents and sclang_conf.yaml file, recompiled and all was well.

After installing Modality-toolkit via Quarks.gui; compiling the class library gives me the following error.

However, using Quarks.gui and selecting the Modality-toolkit 2.1 ve

[2017-07-23 21:59] adcxyz commented on #309
Hi,
that was my addition of checkCaches - please try again and tell me if it works now.
best adc

[2017-07-24 05:50] wtkns commented on #309
that seems to have done it. thanks for the speedy fix and all of the hard work!

[2017-07-24 05:50] #309 closed

[2017-07-24 10:16] adcxyz commented on #309
:-)

[2017-07-25 07:08] adcxyz commented on #292
no response, so closing.

[2017-07-25 07:08] #292 closed

[2017-07-25 07:09] adcxyz commented on #165
no response, so closing and moving to projects.

[2017-07-25 07:09] #165 closed

[2017-07-25 07:11] adcxyz commented on #294
@sensestage ping

[2017-07-27 14:37] adcxyz commented on #45
closing and moving to projects.

[2017-07-27 14:37] #45 closed

[2018-10-18 06:19] geoffroymontel opened #313 "can't get feedback to work with Touch OSC"
I'm trying to use Touch OSC through Modality Toolkit.
I'm running SC 3.9.3 and have installed Modality through `Quarks.gui`
On my iPad running Touch OSC 1.9.10, I use the Simple Layout.

The following code works :

[code]

I'm getting values printed on the console when I move a slider on the iPad, like

`tOsc sl_1: 0.316`

Great.

But how do I set a value on SC side and have the slider move on the

[2018-10-18 13:17] LFSaw commented on #313
The description file does currently not have declared the elements as `\inOut` but rather `\in`. I am not sure, if bidirectional communication does work with OSC yet but you can try to change the slider descriptions in `MKtlDesc("touchosc-simple1").openFile` to be

[code]

[2018-10-18 15:46] LFSaw commented on #313
since this is not a bug, I'll close this.

[2018-10-18 15:46] LFSaw commented on #313
feel free to comment though, I'll continue reading :)

[2018-10-22 20:06] geoffroymontel commented on #313
Thanks @LFSaw ! Sorry for the delay, but I've just tried to change ioType so that

[code]

but it makes no difference.

How can I check that bi-directionnal communication is implemented in OSC ? Best !

[2018-10-23 12:35] LFSaw commented on #313
GReat find

[2018-10-23 20:07] gilfuser commented on #313
Hi Modality Crew and Geoffroy.
I had something very similar working some time ago. I don't have a device with Touch OSC to test it again a.t.m., but here is the corresponding part of code in the description I used. Maybe there's a clue of what is going on:
[code]
The main difference seems to be: shared ioType parameter only and the others are set individually.

[2018-10-23 20:10] geoffroymontel commented on #313
Thanks ! I've just submitted a pull request that seems to fix it on my side.

[2018-11-26 16:47] #313 closed

[2018-12-16 11:09] madskjeldgaard opened #315 "Collectives individual action problems"
Hello

After some confusement about collectives in Modality I had a chat with Alberto Decampo on the mailing list and we seem to have discovered a bug with collectives.

My goal was to make a desc file for a touch osc app with xy-faders outputting data sort of like `/xy [x] [y]`. Using trace, I could see the changes on the fader being received and registered by the desc, but registering individual

[2019-01-07 16:47] madskjeldgaard opened #316 "Confusing error message when passing a symbol to MKtl.new's second argument: could not find device"
Hello all

I recently started using Modality and I stumbled on this quirk that caused a bit of confusion for me (probably because the first argument is a symbol and the second a string). When (accidentally) passing a symbol as the second argument ("lookupNameOrDesc") instead of a string, it posts an error message about not being able to find a device. I think this can generally cause confusement f

[2019-01-12 13:39] LFSaw commented on #316
Hello and welcome to Modality!
I see your difficulties and the source of confusion. How would you think should this be resolved? I'd rather not add an additional step of converting the second argument into a String to prevent possible side-effect of such a fix. Maybe a note in the documentation is sufficient?

[2019-01-15 14:25] madskjeldgaard commented on #316
Well to be honest, I think I get confused by because the string-to-symbol conversion is done automatically so many other places in SC (like `SynthDef("someString")` or `Ndef("stringamathing")`). But looking at the source code for for MKtl.new I can see how that's not a possible solution at the moment so maybe a big fat warning in the documentation would be good at the moment :)

[2019-03-17 12:31] adcxyz commented on #316
Hi Mads,
I explained this more clearly in MKtl.schelp / MKtl:new, and expanded the failure infos,
should be there when you update/re-checkout the quark.
[code]

Hope this is better?
best adc

[2019-03-17 12:31] adcxyz commented on #316
@madskjeldgaard - if good enough, please close this issue ;-)

[2019-03-18 07:52] madskjeldgaard commented on #316
Looks great. Thanks!

[2019-03-18 07:52] #316 closed

[2019-05-20 17:32] madskjeldgaard opened #325 "HelpFile improvement: How to write the gui part of a desc file?"
Hi everyone

I've come across a problem and I'm not able to find the appropriate help file to help me along.

I'm specifically interested in how the automatic gui is generated from my desc file, or rather: What I can write in my desc file to affect how it looks/feels.

I recently added a MKtl description for the device "shanwan_ps3" here. If you open up that one as a virtual device like this:
`c =

[2019-05-21 09:15] LFSaw opened #326 "MIDI NoteOn/Off not recognised?"
it it just me?

[code]

+ the GUI does not show the buttons (`NoteOnOff` events), although they are defined in the `desc`.
+ when pushing a button MKtl complains:

[code]

Buttons are defined in `desc` via

[code]

[2019-05-21 09:17] LFSaw commented on #326
note that #301 seems to be related but is not. contrary to what is said there, noteOnOff elemets are not showing up at all.

[2019-05-21 12:58] LFSaw commented on #325
you might want to look at desc file for a similar controller... the layout for each element is determined by its `elementType`, the position by a separate key called `style`:

This creates a button in row 1.5, column 5

[code]

This creates 4 pads in row 2 with specifically set `midiNum`:

[code]

[2019-05-23 18:12] madskjeldgaard commented on #325
Okay, sorry. I made a mistake and wrote `elementType: Button` with a capital B in it which made these weird sliders. Okay, so then all I need to worry about in terms of gui layout is the style parameter. Thanks!

[2019-05-30 12:29] #326 closed

[2019-07-03 20:14] moogah opened #329 "Problems with Note events coming from Ableton Push 2"
I'm trying to work through the basic setup of a Push 2 and I've found that note events from the pads and the touch encoders are not recognized.  At the moment I'm stumped on where to continue debugging, so any guidance is appreciated!  I'm running SC 3.10.2 on OSX 10.15, installed Modality through quarks and on the master branch, commit `cf6aa3f34b555387ba7dabb694ddcbb7a3d64e61` (May 30th 2019)

[

[2019-07-14 21:32] nasedil opened #330 "For Ableton Push `setPadLight` messages result in error"
Hi, I've tried to run code from the examples from the MPush page in docs:

[code]
That code results in the following error:
[code]

However, this line works fine:
[code]

I've tried some other code examples from the page, it seems that some of them also behave differently then they are suppose to work.

[2019-07-17 17:48] LFSaw commented on #330
are you using the Push2 or Push?

[2019-07-17 18:20] nasedil commented on #330
@LFSaw I'm using Push (1st one)

[2019-07-17 18:24] LFSaw commented on #330
i'll try to have a look tomorrow, currently without my push here...

---
http://tai-studio.org

[2019-09-26 06:32] retroriff opened #331 "Arturia BeatStep Stop Button"
Hello,

I am not able to trigger an action when the stop button is pressed. I have read that MMC buttons are not being received and Notes are used instead. I can detect the play button with `MIDIdef.noteOn`, which default setting number is 60, and I also can detect knobs:

`m.elAt(\pg0, \kn, 0).action = { |el| ["Knob", el.value].postln;};`

Any suggestion?

[2019-09-26 09:05] retroriff opened #332 "Pads not recognized"
Hello,

on Artutia BetStep actions are not triggered when pads are pressed:

`m.elAt(\pg0, \pad).action = { |el| ["Pad", el.value].postln;};`

Trace says:

	Please add it to the description file. E.g. for a button:<bt>: (midiMsgType: 'noteOn', elementType: <'button'>, midiChan: 0, midiNum: 44, spec: <'midiBut'>, mode: <'push'>)

I am using Arturia factory default settings. Should I edit the descri

[2019-09-26 12:12] retroriff commented on #329
I am having the same problem with Arturia BeatStep pads, running SC 3.10.3 on OSX 10.14.5.

[2019-11-17 13:39] adcxyz commented on #332
Hello,
only saw this now, sorry for the long silence -
it turns out that there is something broken in how multi-MIDI buttons/keys
are expanded :-/
will look into a general fix soon,
if you need a quick and dirty working version the beatstep earlier,
let me know, I can send one.

[2019-12-29 23:18] adcxyz commented on #301
does work now, like this:
[code]

[2019-12-29 23:18] #301 closed

[2020-01-03 12:10] adcxyz commented on #332
fixed with #333

[2020-01-03 12:10] #332 closed

[2020-01-03 12:11] adcxyz commented on #331
fixed with #333

[2020-01-03 12:11] #331 closed

[2020-01-03 12:11] adcxyz commented on #329
fixed with #333

[2020-01-03 12:11] #329 closed

[2020-02-25 09:51] madskjeldgaard opened #335 "rebuild is broken ?"
Hello

Maybe I have misunderstood how to use the rebuild method but for me it simply does not work. I am on SC 3.10.4 / Ubuntu Studio 19 / SCNVim and using the latest version of Modality.

[code]